<input type="hidden" id="election_slug" value="<%= circonscription['election_slug'] %>">
<div id="partial_title">Primaire Ouverte pour les Législatives de 2017</div>
<style>
    .independant {display:none;}
</style>
    <div class="row">
        <div class="col-md-12">
            <ul class="stepper stepper-horizontal">
                <li class="completed active grey lighten-3">
                    <a href="#!">
                        <span class="circle">1</span>
                        <span class="label">Qualification <i  style="color:#ffbb33;" class="fa fa-cog" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li>
                    <a href="#!">
                        <span class="circle">2</span>
                        <span class="label">Vote</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="circle">3</span>
                        <span class="label">Résultats</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="legislatives-2017-1" class="step" style="display:visible;">
        <h2 class="h2-responsive doc-title">Du 21 février au 15 avril 2017</h2>
        <p class="text-justify">Afin de se qualifier, un(e) candidat(e) doit recueillir au moins X soutiens de citoyen(ne)s. Un(e) citoyen(ne) ne peut soutenir que 3 candidat(e)s au maximum.</p>
        <h2 class="h2-responsive doc-title"><%= circonscription['name_circonscription'] %></h2>
        <h3 class="h4-responsive doc-title">Député(e) actuel(le)</h3>
	<div class="card card-block" style="max-width:420px;">
		<div style="position:absolute;width:100px;top:20px;right:0px;">
			<a href="<%= circonscription['deputy_url'] %>" target="_blank">
				<img src="https://www.nosdeputes.fr/depute/photo/<%= circonscription['deputy_slug'] %>/100" style="float:left;">
			</a>
		</div>
		<div style="width:320px;">
			<h4 class="card-title"><%= circonscription['deputy_name'] %></h4>
			<p class="card-text">Parti: <%= circonscription['deputy_party'] %><br/>Métier: <%= circonscription['deputy_job'] %></p>
			<div class="flex-row">
				<a href="<%= circonscription['deputy_url'] %>" target="_blank" class="card-link">Voir sa fiche sur nosdéputés.fr</a>
			</div>
		</div>
	</div><br/>
        <h3 class="h4-responsive doc-title">Les candidats en lice</h3>
        <div class="container-fluid">
		<div id="hits" class="row"></div>
        </div>
	<br/>
    </div>

<script type="text/html" id="hit-template">
	{{#candidates}}
	<div class="col-lg-3 col-sm-4 col-xs-12">
		<div class="card">
		    <div class="view overlay hm-white-slight">
			<div style="position:absolute;z-index:1000;left:0px;">
			    <span class="badge red">dept {{departement}}</span>
			    <span class="badge green">circo {{num_circonscription}}</span>
			</div>
			    {{#supported_candidate}} 
			<div style="position:absolute;z-index:1000;bottom:0px;bottom:-8px;left:8px;">
			    <div class="chip" title="Je soutiens {{supported_candidate}}">
				<img style="float:right;margin:0 -12px 0 8px;" src="https://s3.eu-central-1.amazonaws.com/laprimaire/candidats/{{supported_candidate_photo}}"> Je soutiens
			    </div>
			</div>
			    {{/supported_candidate}} 
			<img class="img-fluid img-thumbnail" src="https://s3.eu-central-1.amazonaws.com/{{photo}}" alt="{{name}}">
			<a href="#election/{{election_slug}}/candidat/{{slug}}">
			    <div class="mask waves-effect waves-light"></div>
			</a>
		    </div>
		    <div class="card-block" style="padding:0.8em;">
			<h5 class="card-title text-center" style="margin-bottom:0px;">{{name}}</h5>
			<div class="text-center">
			{{^support_date}}
			    <button id="support-{{slug}}" type="button" onclick="support_candidate('{{slug}}');" class="support-candidate text-center btn btn-outline-primary waves-effect" autocomplete="off">Soutenir</button>
			{{/support_date}}
			{{#support_date}}
			    <button id="support-{{slug}}" type="button" onclick="support_candidate('{{slug}}');" class="support-candidate text-center btn btn-primary waves-effect" autocomplete="off">Soutenu(e)</button>
			{{/support_date}}
			    <a href="#election/{{election_slug}}/candidat/{{slug}}" type="button" class="text-center btn btn-outline-success waves-effect" autocomplete="off">Plus d'infos</a>
			</div>
		    </div>
		</div>
	</div><br/>
	{{/candidates}}
	{{^candidates}}
Aucun(e) candidat(e) pour le moment
	{{/candidates}}
</script>
<script>
function support_candidate(candidate_slug) {
	var election_slug=$('#election_slug').val();
	if ($('#support-'+candidate_slug).hasClass('btn-outline-primary')) {
		$.post('/api/citizen/<%= citoyen['user_key'] %>/election/'+election_slug+'/support/'+candidate_slug, function() {
			$('#support-'+candidate_slug).removeClass('btn-outline-primary');
			$('#support-'+candidate_slug).addClass('btn-primary');
			$('#support-'+candidate_slug).html('Soutenu(e)');
			toastr.success('Soutien bien enregistré','Merci',{positionClass: 'toast-bottom-right'});
		})
		.fail(function(data) { show_notification(data); });
	} else {
		$.post('/api/citizen/<%= citoyen['user_key'] %>/election/'+election_slug+'/unsupport/'+candidate_slug, function() {
			$('#support-'+candidate_slug).removeClass('btn-primary');
			$('#support-'+candidate_slug).addClass('btn-outline-primary');
			$('#support-'+candidate_slug).html('Soutenir');
			toastr.info('Soutien supprimé','Bien reçu',{positionClass: 'toast-bottom-right'});
		})
		.fail(function(data) { show_notification(data); });
	}
}

function pageReady() {
	var election_slug=$('#election_slug').val();
	$.get('/api/citizen/<%= citoyen['user_key'] %>/election/'+election_slug+'/candidates')
		.done(function(data) {
			var t=$('#hit-template').html();
			Mustache.parse(t);
			var rendered=Mustache.render(t,JSON.parse(data));
			$('#hits').html(rendered);
		})
	.fail(function(data) {
		show_notification(data);
	});
}
</script>

