    <div id="partial_title">Primaire Ouverte pour la Présidentielle de 2017</div>
    <div class="row">
        <div class="col-md-12">
            <ul class="stepper stepper-horizontal">
                <li class="completed">
                    <a id="qualification" style="cursor:pointer;">
                        <span class="circle">1</span>
                        <span class="label">Qualif<span class="hidden-xs-down">ication</span><i style="color:#00C851;" class="fa fa-check" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li class="completed">
                    <a id="preselection" style="cursor:pointer;">
                        <span class="circle">2</span>
                        <span class="label">Pré-sélection <i style="color:#00C851;" class="fa fa-check" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li class="completed grey lighten-3 active">
                    <a id="vote-final" style="cursor:pointer;">
                        <span class="circle">3</span>
                        <span class="label">Vote final <i style="color:#00C851;" class="fa fa-check" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="presidentielle-2017-1" class="step" style="display:none;">
        <h2 class="h2-responsive doc-title">Du 4 avril octobre au 14 juillet 2016</h2>
        <p class="text-justify">Tout(e) citoyen(ne) pouvait être candidat(e) à LaPrimaire.org pour la présidentielle 2017, la seule condition pour se qualifier et pouvoir participer était de rassembler 500 soutiens citoyens avant le 14 juillet. Au total, ce sont 215 candidat(e)s qui ont fait campagne et <a href="https://articles.laprimaire.org/les-16-citoyens-candidats-%C3%A0-laprimaire-org-17a2901a0a20#.ly42b3st0" target="_blank">16 d'entre eux</a> qui se sont qualifiés en parvenant à atteindre le seuil des 500 soutiens.</p>
        <h2 class="doc-title h2-responsive">Les 16 candidat(e)s qualifié(e)s</h2>
        <div class="row">
        <% qualified.each_with_index do |q,i| %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/<%= q['photo'] %>" alt="<%= q['firstname'] %> <%= q['lastname'] %>">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="h4-responsive card-title"><%= q['firstname'] %> <%= q['lastname'] %></h4>
                        <!--Text-->
                        <p class="card-text text-justify">“<%= q['fields']['vision'] %>”</p>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
            <% if ((i+1)%4)==0 then %>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <% end %>
        <% end %>
        </div>
    </div>
    <div id="presidentielle-2017-2" class="step" style="display:none;">
        <h2 class="h2-responsive doc-title">Du 26 octobre au 6 novembre 2016</h2>
        <p class="text-justify">Le tour de pré-selection s'est déroulé du 26 octobre au 6 novembre 2016 avec pour objectif de faire émerger 5 citoyen(ne)s candidat(e)s finalistes. Pour ce faire, les citoyen(ne)s ont été invités à évaluer chacun un lot de 5 candidat(e)s (parmi les 16 qualifiés) choisis aléatoirement selon la méthode du jugement majoritaire. Voir les <a href="https://articles.laprimaire.org/r%C3%A9sultats-du-1er-tour-de-laprimaire-org-c8fe612b64cb#.15cnxaa8u" target="_blank">résultats détaillés</a>.</p>
        <h2 class="doc-title h2-responsive">Les 5 citoyen(ne)s finalistes</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/663402096368.jpg" alt="Charlotte Marchandise">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="h4-responsive card-title">Charlotte Marchandise</h4>
                        <!--Text-->
                        <p class="card-text text-justify">“Coopération, animation, pédagogie et transparence : les clés d'une transition vers une démocratie réelle, partagée et pertinente”</p>
                    </div>
                    <!--/.Card content-->
                    <div class="card-data success-color">
                        <span>Mention Bien - 71,62%</span>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/405106694739.jpg" alt="Nicolas Bernabeu">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title h4-responsive">Nicolas Bernabeu</h4>
                        <!--Text-->
                        <p class="card-text text-justify">“Ni droite, ni gauche, ni extrême, ni centre. L'union plutôt que la division !”</p><br/>
                    </div>
                    <!--/.Card content-->
                    <div class="card-data success-color">
                        <span>Mention Bien - 55,83%</span>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/205888341238.jpeg" alt="Roxane Revon">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title h4-responsive">Roxane Revon</h4>
                        <!--Text-->
                        <p class="card-text text-justify">“C'est à nous, citoyens français, de prendre en main l'avenir de notre modèle de société : celui de la France et de l'Europe !”</p>
                    </div>
                    <!--/.Card content-->
                    <div class="card-data success-color">
                        <span>Mention Bien - 53,65%</span>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/179165103473.jpg" alt="Michel Bourgeois">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title h4-responsive">Michel Bourgeois</h4>
                        <!--Text-->
                        <p class="card-text text-justify">“Il est temps pour la France de revenir aux valeurs, fondatrices de notre "vivre-ensemble », assises sur plus de deux mille ans d’Histoire”</p>
                    </div>
                    <!--/.Card content-->
                    <div class="card-data warning-color">
                        <span>Mention Assez Bien - 66,26%</span>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img class="img-fluid" src="https://s3.eu-central-1.amazonaws.com/laprimaire/161703998889.jpg" alt="Michael Pettini">
                        <a href="#">
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title h4-responsive">Michael Pettini</h4>
                        <!--Text-->
                        <p class="card-text text-justify">“Ayant 2 enfants en bas âge, je ne souhaite pas leur laisser un monde sans avoir tout tenté pour changer positivement les choses !”</p>
                    </div>
                    <!--/.Card content-->
                    <div class="card-data warning-color">
                        <span>Mention Assez Bien - 66,26%</span>
                    </div>
                </div><br/>
                <!--/.Card-->
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
    <div id="presidentielle-2017-3" class="step active" style="display:visible;">
        <h2 class="doc-title h2-responsive">Du 15 au 30 décembre 2016</h2>
        <p class="text-justify">Le vote final de LaPrimaire.org s'est déroulé du 15 au 30 décembre 2016, 15 jours durant lesquels Les 5 candidat(e)s finalistes ont été évalués par les citoyen(ne)s au jugement majoritaire. Les résultats ont été <a href="https://articles.laprimaire.org/r%C3%A9sultats-du-2nd-tour-de-laprimaire-org-2d61b2ad1394#.a2xjqikj9" target="_blank">dévoilés le 31 décembre 2016</a>.</p>
        <h2 class="doc-title h2-responsive">La candidate citoyenne élue</h2>
        <!--Panel-->
        <div class="row">
            <div class="col-12 col-md-8">
                <!--Author box-->
                <div class="author-box">
                    <!--Name-->
                    <div class="row">
                        <!--Avatar-->
                        <div class="col-12 col-sm-3">
                            <a href="http://charlotte-marchandise.fr/" target="_blank"><img src="https://s3.eu-central-1.amazonaws.com/laprimaire/663402096368.jpg" class="img-fluid rounded-circle z-depth-2"></a><br/>
                            <div class="personal-sm text-center">
                                <a class="email-ic" target="_blank" href="http://charlotte-marchandise.fr/"><i class="fa fa-home"> </i></a>&nbsp;
                                <a class="fb-ic" target="_blank" href="https://www.facebook.com/CharlotteMarchandiseFranquet/"><i class="fa fa-facebook"> </i></a>&nbsp;
                                <a class="tw-ic" target="_blank" href="https://twitter.com/MarCharlott"><i class="fa fa-twitter"> </i></a>&nbsp;
                                <a class="email-ic" target="_blank" href="mailto:charlotte@candidat.laprimaire.org"><i class="fa fa-envelope-o"> </i></a>
                            </div>
                        </div>
                        <!--Author Data-->
                        <div class=" col-12 col-sm-9">

                            <h3 class="h3-responsive"><a href="http://charlotte-marchandise.fr/" target="_blank">Charlotte Marchandise</a></h3>
                            <p>42 ans, Formatrice (35 - Ille-et-Vilaine)</p>
                            <p>“L'humanisme, la justice sociale et la protection du vivant au cœur d'une démocratie réelle. Dès aujourd'hui, choisissons demain, ensemble.”</p>
                            <div >
                                <a type="button" target="_blank" href="http://charlotte-marchandise.fr/" class="btn btn-primary">En savoir plus</a>
                                <a type="button" target="_blank" href="https://laprimaire.org/don-charlotte-marchandise/" class="btn btn-success">Soutenir sa campagne</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Author box-->
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
            <!--        <h3 class="card-header primary-color white-text">Résultats</h3>-->
                    <div class="card-block">
                        <h4 class="h4-responsive card-title">Les résultats détaillés</h4>
                        <p class="card-text text-justify">32.685 citoyens ont désigné la candidate qui aura pour mission de porter une candidature citoyenne en 2017 : <b>Charlotte Marchandise-Franquet</b>, élue avec mention majoritaire <b>Très bien</b> accordée par 50,64% des citoyens.</p>
                        <a class="btn btn-primary" href="https://articles.laprimaire.org/r%C3%A9sultats-du-2nd-tour-de-laprimaire-org-2d61b2ad1394#.vhd1p6orj" target="_blank">Voir les résultats</a>
                        <a class="btn btn-default" href="https://laprimaire.cocorico.cc/vote/ballot-box/5852587934e6721b9323b2a5" target="_blank">Vérifier votre vote</a>
                    </div>
                </div>
                <!--/.Panel-->
            </div>
        </div>
    </div>
    <script>
        $('#qualification').on('click', function() {
            if ($('#qualification').parent().hasClass('active')) {
                return;
            }
            $('.active').removeClass('active grey lighten-3');
            $('.step').hide();
            $('#presidentielle-2017-1').addClass('animated fadeIn');
            $('#presidentielle-2017-1').show();
            $('#qualification').parent().addClass('active grey lighten-3');
        });
        $('#preselection').on('click', function() {
            if ($('#preselection').parent().hasClass('active')) {
                return;
            }
            $('.active').removeClass('active grey lighten-3');
            $('.step').hide();
            $('#presidentielle-2017-2').addClass('animated fadeIn');
            $('#presidentielle-2017-2').show();
            $('#preselection').parent().addClass('active grey lighten-3');
        });
        $('#vote-final').on('click', function() {
            if ($('#vote-final').parent().hasClass('active')) {
                return;
            }
            $('.active').removeClass('active grey lighten-3');
            $('.step').hide();
            $('#presidentielle-2017-3').addClass('animated fadeIn');
            $('#presidentielle-2017-3').show();
            $('#vote-final').parent().addClass('active grey lighten-3');
        });
    </script>

