<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css">
<style>
header {
	position:absolute;
	height:100%;
	width:100%;
}
#header_overlay { height:100%; }
.modal-content {
	height:430px;
}
.modal-body { height:100%;}
input[type=text], input[type=search], input[type=date], input[type=tel] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #fff;
	box-shadow:none;
	background-color:#527bdd;
	color:white;
	font-size:30px;
	border:0px;
	text-align:center;
	border: 1px solid rgba(200, 200, 200, 1);
}
input::selection { background: white; }
input::-moz-selection { background: white; }
input[type=text]:focus, input[type=search]:focus, input[type=date]:focus, input[type=tel]:focus {
	box-shadow: 0 0 20px rgba(200, 200, 200, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(200, 200, 200, 1);
}
button.non:hover { background-color:#d91d1c !important; border-color:#d91d1c !important;color:white !important; }
button.oui:hover { background-color:#4ae54a !important; border-color:#4ae54a !important;color:white !important;}
.form-inline .form-control { vertical-align: bottom; }
.form-control {height: 40px;}
.mention_email.title {
	top:30px;
	font-size:18px;
}
.mention_logo {
	position: absolute;
	width:180;
	top:10px;
	left:10px;
}
.mention_email {
	font-size:10px;
	position: absolute;
	text-align:right;
	width:100%;
	top:20px;
	right:25px;
	color:white;
}
.mention_cnil {
	position: absolute;
	width:100%;
	bottom:-10px;
}
.btn_bottom {
	margin-top:20px;
	width:100%;
}
.btn_bottom .btn {
	background-color:white;
	color:#5e5e5e;
}
.btn-xl {
	padding:2px;
	font-size: 26px;
	width:150px;
}
.num_tel {
	font-size:28px;
}
h3 { color:white; }
.ap-dropdown-menu { text-align:left; }
.ap-name {color:#5e5e5e;}
    
.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
    color: #777;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}
.pac-container { z-index: 10000 !important; }
</style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <header>
    <div id="header_overlay" class="white" style="border-bottom: 2px solid #527bdd;">
	    <div class="container">
		    <div class="row" style="padding-top:10px;">
		    </div>
	    </div>
    </div>
    </header>

    <div class="modal fade" id="Authentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
		    <div class="modal-content" style="height:560px;">
			    <div class="modal-body" >
				    <div style="margin:0 auto;background:#527bdd;height:100%;">
					    <div id="auth_0" class="auth_step" style="margin:0 auto;padding-top:35px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <h3><i class="fa fa-user" aria-hidden="true"></i>Authentification</h3>
						    <div style="margin-bottom:20px;background-color: white;border-radius: 10px;color:#5e5e5e;padding:10px;width:300px;margin:0px auto 20px auto;font-size:16px;"><%= citoyen['email'] %></div>
						    <% if citoyen['forbidden']==1 %>
						    <div id="auth_0_forbidden" class="auth_0_msg" style="font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> cet email est invalide</div>
						    <% elsif citoyen['fraud_suspected_clones']==1 %>
							    <div id="auth_0_fraud_clones" class="auth_0_msg" style="font-size:14px;padding:5px;background-color: white;border-radius:10px;width:320px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> Fraude suspectée. Merci de nous <a href="/contact/?topic=Fraude%20suspectée" target="_blank">contacter</a> pour vous authentifier.</div>
						    <% else %>
						    <p style="font-size:15px;">Pour pouvoir voter, vous devez vous identifier au préalable.</p>
						    <p style="font-size:15px;">En vous idenfiant, vous déclarez sur l'honneur que l'ensemble des déclarations formulées dans le cadre de ce vote sont sincères et vérifiables.</p>
						    <p style="font-size:15px;">Cette procédure a fait l'objet d'une déclaration auprès de la CNIL<br/>déclaration normale n°1996018.</p>
						    <div class="btn_bottom">
							    <button id="auth_0_yes" style="width:230px;" class="btn btn-xl oui">Commencer</button>
						    </div>
						    <% end %>
					    </div>
					    <div id="auth_1" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_1_input">Votre prénom est :</label>
								    <input id="auth_1_input" type="text" class="form-control" placeholder="Votre prénom" value="<%= citoyen['firstname'] %>">
								    <input id="auth_1_orig" type="hidden" class="form-control" value="<%= citoyen['firstname'] %>">
								    <br/>
								    <div id="auth_1_info_msg" class="auth_1_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre prénom</div>
								    <div id="auth_1_error_val" class="auth_1_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> prénom manquant</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_1_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_1_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_2" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_2_input">Votre nom est :</label>
								    <input id="auth_2_input" type="text" class="form-control" placeholder="Votre nom de famille" value="<%= citoyen['lastname'] %>">
								    <input id="auth_2_orig" type="hidden" class="form-control" value="<%= citoyen['lastname'] %>"><br/>
								    <div id="auth_2_info_msg" class="auth_2_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre nom</div>
								    <div id="auth_2_error_val" class="auth_2_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> nom manquant</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_2_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_2_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
                        <div id="auth_3" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_3_input">Vous habitez en :</label><br/>
								    <input type="search" id="auth_3_input" placeholder="FRANCE, MARTINIQUE, REUNION..." value="<%= citoyen['country'] %>"/>
								    <input type="hidden" id="auth_3_orig" placeholder="" value="<%= citoyen['country'] %>"/>
								    <br/>
								    <div id="auth_3_error_val" class="auth_3_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> pays manquant</div>
								    <div id="auth_3_info_msg" class="auth_3_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre pays ou DOM-TOM</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_3_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_3_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
                        <div id="auth_3a" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_3a_input">Vous habitez à :</label><br/>
								    <input type="text" id="auth_3a_input" placeholder="Votre ville" value="<%= citoyen['city'] %>"/>
								    <input type="hidden" id="auth_3a_orig" value="<%= citoyen['city'] %>"/>
                                    <input type="hidden" id="auth_3a_predict" value=""/>
                                    <input type="hidden" id="locality"  value=""/>
                                    <input type="hidden" id="administrative_area_level_1" value=""/>
                                    <input type="hidden" id="country" value=""/>
                                    <input type="hidden" id="postal_code" value=""/>
								    <br/>
								    <div id="auth_3a_error_val" class="auth_3a_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> ville manquante</div>
								    <div id="auth_3a_info_msg" class="auth_3a_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre ville</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_3a_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_3a_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_3b" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_3b_input">Vous habitez à :</label><br/>
								    <input type="search" id="auth_3b_input" placeholder="Votre ville" value="<%= citoyen['city'] %>"/>
								    <input type="hidden" id="auth_3b_orig" value="<%= citoyen['city'] %>"/>
                                    <input type="hidden" id="auth_3b_num_circonscription" value="<%= citoyen['num_circonscription'] %>"/>
                                    <input type="hidden" id="auth_3b_num_commune" value="<%= citoyen['num_commune'] %>"/>
                                    <input type="hidden" id="auth_3b_code_departement" value="<%= citoyen['code_departement'] %>"/>
								    <br/>
								    <div id="auth_3b_error_val" class="auth_3b_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> ville manquante</div>
								    <div id="auth_3b_info_msg" class="auth_3b_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre ville</div>
                                    <p style="font-size:15px;">Si vous n'êtes pas certain(e) de votre circonscription, vous pouvez la trouver sur <a style="color:white;" href="http://www.elections-legislatives.fr/circonscriptions.asp" target="_blank">le site de l'assemblée nationale</a>.</p>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_3b_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_3b_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_4" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:visible;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;margin-top:-40px;">
								    <label for="auth_4_input">Vous êtes né le :</label>
								    <input id="auth_4_input" type="text" class="form-control" placeholder="JJ/MM/AAAA" value="<%= citoyen['birthday'] %>">
								    <input id="auth_4_orig" type="hidden" class="form-control" value="<%= citoyen['birthday'] %>">
                                    <div id="auth_4_calendar" style="margin:0 auto;width:259px;"></div>
								    <div id="auth_4_error_val" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> Merci d'utiliser le format JJ/MM/AAAA pour écrire la date</div>
								    <div id="auth_4_error_missing" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> date manquante</div>
								    <div id="auth_4_info_msg" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:320px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd"></i> Entrez votre date de naissance : JJ/MM/AAAA</div>
								    <div id="auth_4_error_age" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:270px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> vous êtes trop jeune :/</div>
							    </div><br/>
							    <p style="font-size:14px;">Seuls les citoyens qui auront plus de 18 ans au 11 juin 2017 peuvent voter.</p>
							    <div class="btn_bottom">
								    <button id="auth_4_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_4_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_5" class="auth_step" style="margin:0 auto;padding-top:75px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_5_input">Votre numéro de téléphone :<br/><span style="font-size:12px;font-weight:normal;">(avec indicatif international +XX si numéro étranger)</span></label>
								    <input id="auth_5_input" type="tel" class="form-control" placeholder="" value="<%= citoyen['telephone'] %>">
                                    <input id="dial_code" type="hidden" value="">
								    <!--<input id="auth_5_country" type="hidden" class="form-control" value="FR">-->
								    <div id="auth_5_error_phone" class="auth_5_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:305px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> numéro déjà utilisé par un autre citoyen</div>
								    <div id="auth_5_error_tel" class="auth_5_msg" style="display:none;padding:4px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;font-size:13px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> Numéro invalide. Pour un numéro francais, ecrivez votre numéro à 10 chiffres. Pour un numéro étranger, entrez-le au <a href="https://fr.wikipedia.org/wiki/Numéro_de_téléphone" target="_blank">format international</a>.</div>
								    <div id="auth_5_error_type" class="auth_5_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> fixe ou portable ?</div>
								    <div id="auth_5_msg_sent" class="auth_5_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="color:#999"></i> patientez...</div>
								    <input id="auth_5_orig" type="hidden" class="form-control" value="<%= citoyen['telephone'] %>">
							    </div>
							    <p style="font-size:16px;">Pour pouvoir voter, nous allons vous envoyer un code.<br/>Comment souhaitez-vous recevoir ce code ?</p>
							    <div class="radio" style="font-size:16px;">
								    <label>
									    <input type="radio" name="typeTel" id="radioPortable" value="sms" checked>
									    Envoyez-moi un SMS avec le code
								    </label>
							    </div>
							    <div class="radio" style="font-size:16px;">
								    <label>
									    <input type="radio" name="typeTel" id="radioFixe" value="call">
									    Appelez-moi pour me donner le code
								    </label>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_5_yes" class="btn btn-xl oui">Continuer</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_6" class="auth_step" style="margin:0 auto;padding-top:75px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <p style="font-size:16px;display:none;" id="code_sent_sms">Un code à 4 chiffres vient de vous être envoyé par SMS au<br/><span class="num_tel"></span>.</p>
							    <p style="font-size:16px;display:none;" id="code_sent_call">Nous vous appelons au <span class="num_tel"></span> pour vous donner un code à 4 chiffres.</p>
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_6_input">Code reçu :</label>
								    <input id="auth_6_input" type="text" class="form-control" placeholder="XXXX" value="" style="width:150px;margin:0 auto;color:#5e5e5e; background-color: white;"><br/>
								    <div id="auth_6_error_code" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;font-size:14px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> code erroné. Ce n'est pas le code que nous vous avons transmis.</div>
								    <div id="auth_6_error_missing" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;font-size:14px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> code manquant. Entrez le code que vous avez reçu par téléphone.</div>
								    <div id="auth_6_error_authmsg" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;font-size:14px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c"></i> AUTHMSG n'est pas le code, ouvrez le SMS recu pour voir le code à 4 chiffres :)</div>
								    <div id="auth_6_msg_sent" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="color:#999"></i> vérification...</div>
							    </div>
							    <br/>
							    <div class="btn_bottom">
								    <button id="auth_6_yes" class="btn btn-xl oui">OK</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://s3.eu-central-1.amazonaws.com/laprimaire/scripts/jquery.fblogin.min.js"></script>
    <script src="https://use.fontawesome.com/1e37fa74cb.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBku3jR-QCBX_v2-uXvE-dT8id-nGJqHR4&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
function resizeIframe(obj){
	obj.style.height = 0;
	obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}

/* google analytics */
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-60977053-1', 'auto');
ga('send', 'pageview');
/* Google Places Autocomplete */
var autocomplete;
var componentForm = {
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};
function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('auth_3a_input'),{types: ['(cities)']});
    autocomplete.addListener('place_changed', fillInAddress);
};
function fillInAddress() {
  var place = autocomplete.getPlace();
  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }
  if (place.address_components) {
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }
  }
} /* END OF Google Places Autocomplete */
var algolia = algoliasearch('D1XVECSSVA', '58643f9dff29db9f8da06875479fb290');
$(document).ready(function() {
	if ($('#Authentication')!=null) {
		$('#Authentication').modal({backdrop:'static', keyboard: false});
		$('#Authentication').modal('show');
	}        
	$.get("<%= API_HOST %>/v1/auth/email/verif/<%= citoyen['user_key'] %>")
	.done(function( data ){ console.log(data); })
	.error(function(data) { console.log(data); });
	$.get("<%= API_HOST %>/v1/auth/geodata/lookup")
	.done(function( data ){ console.log(data); })
	.error(function(data) { console.log(data); });
	$('#auth_0_yes').click(function() {
		$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'verif_email'})
		.done(function( data ){ console.log(data); })
		.error(function(data) { console.log(data); });
		$('#auth_0').hide();
		$('#auth_1').show();
		if ($('#auth_1_input').val()=="") { $('#auth_1_input').focus(); }
//        $('#auth_1_input').on('keypress',function(e) {
//            if (e.which==13) {
//                $('#auth_1_yes').click();
//            }
//        });
	});
	$('#auth_1_no').click(function() { 
			$('.auth_1_msg').hide();
			$('#auth_1_info_msg').show();
			$('#auth_1_input').focus(); 
			});
	$('#auth_1_yes').click(function() {
			$('.auth_1_msg').hide();
			var fname_orig=$('#auth_1_orig').val();
			var fname=$('#auth_1_input').val();
			if (fname==null || fname=="") {
				$('.auth_1_msg').hide();
				$('#auth_1_error_val').show();
				$('#auth_1_input').focus();
				return;
			} else if (fname_orig!=fname) {
				$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'firstname','val':fname})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
			}
			$('#auth_1').hide();
			$('#auth_2').show();
			if ($('#auth_2_input').val()=="") { $('#auth_2_input').focus(); }
//            $('#auth_2_input').on('keypress',function(e) {
//                if (e.which==13) {
//                    $('#auth_2_yes').click();
//                }
//            });
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'firstname'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
	});
	$('#auth_2_no').click(function() { 
			$('.auth_2_msg').hide();
			$('#auth_2_info_msg').show();
			$('#auth_2_input').focus(); 
			});
	$('#auth_2_yes').click(function() {
			$('.auth_2_msg').hide();
			var lname_orig=$('#auth_2_orig').val();
			var lname=$('#auth_2_input').val();
			if (lname==null || lname.trim()=="") {
				$('.auth_2_msg').hide();
				$('#auth_2_error_val').show();
				$('#auth_2_input').focus();
				return;
			} else if (lname_orig!=lname.trim()) {
				$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'lastname','val':lname.trim()})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
			}
            var index_countries = algolia.initIndex('countries');
            $('#auth_3_input').autocomplete({ hint: false, autoselect: true }, [{
              source: $.fn.autocomplete.sources.hits(index_countries, { hitsPerPage: 5 }),
              displayKey: 'name',
              templates: {
                suggestion: function(suggestion) {
                  return suggestion.name+'<br/><span style="font-size:11px;line-height:10px;padding:0px;">'+suggestion.name_circonscription+'</span><br/><span style="font-size:11px;">Député(e) sortant(e): '+suggestion.deputy_name+' ('+suggestion.deputy_party+')</span>';
                }
              }
            }]).on('autocomplete:selected', function(event, suggestion, dataset) {
                $('#auth_3_yes').click();
            });
//            $('#auth_3_input').on('keypress',function(e) {
//                if (e.which==13) {
//                    $('#auth_3_yes').click();
//                }
//            });
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'lastname'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
            $('#auth_2').hide();
            $('#auth_3').show();
            if ($('#auth_3_input').val()=="") { $('#auth_3_input').focus(); }
	});
	$('#auth_3_no').click(function() {
			$('.auth_3_msg').hide();
			$('#auth_3_info_msg').show();
			$('#auth_3_input').focus(); 
			});
	$('#auth_3_yes').click(function() {
			$('.auth_3_msg').hide();
			var country=$('#auth_3_input').val();
			if (country==null || country=="") {
				$('.auth_3_msg').hide();
				$('#auth_3_error_val').show();
				$('#auth_3_input').focus();
				return;
			}
            $.post("<%= API_HOST %>/v2/auth/country",{'country':country,'key':'<%= citoyen['user_key'] %>'})
            .done(function(data){ 
                $('#dial_code').val(data['dial_code']);
            })
            .error(function(data) { console.log(data); });
            $('#auth_3').hide();
            if ($.inArray(country,['FRANCE','POLYNESIE FRANCAISE','LA REUNION','MARTINIQUE','GUADELOUPE','SAINT-PIERRE-ET-MIQUELON','GUYANE','NOUVELLE-CALEDONIE'])>-1) {
                // le citoyen habite en France
                 var index_circos = algolia.initIndex('circonscriptions');
                 $('#auth_3b_input').autocomplete({ hint: false, autoselect: true }, [{
                    source: $.fn.autocomplete.sources.hits(index_circos, { hitsPerPage: 5 }),
                    displayKey: 'name_commune',
                    templates: {
                        suggestion: function(suggestion) {
                            return suggestion._highlightResult.name_commune.value+' - '+suggestion._highlightResult.name_circonscription.value+'<br/><p style="font-size:11px;">Député(e) sortant(e): '+suggestion._highlightResult.deputy_name.value+' ('+suggestion.deputy_party+')</p>';
                        }
                    }
                }]).on('autocomplete:selected', function(event, suggestion, dataset) {
                     $('#auth_3b_input').val(suggestion.name_commune);
                     $('#auth_3b_code_departement').val(suggestion.code_departement);
                     $('#auth_3b_num_circonscription').val(suggestion.num_circonscription);
                     $('#auth_3b_num_commune').val(suggestion.num_commune);                     
                     $('#auth_3b_yes').click();
                });
                $('#auth_3b').show();
                if ($('#auth_3b_input').val()=="") { $('#auth_3b_input').focus(); }
            } else {
                // le citoyen n'habite pas en France
//                $('#auth_3a_input').on('keypress',function(e) {
//                    if (e.which==13) {
//                        $('#auth_3a_yes').click();
//                    }
//                });
                $('#auth_3a').show();
                if ($('#auth_3a_input').val()=="") { $('#auth_3a_input').focus(); }
            }
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'country'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
	});
    $('#auth_3a_no').click(function() {
			$('.auth_3a_msg').hide();
			$('#auth_3a_info_msg').show();
			$('#auth_3a_input').focus(); 
			});
	$('#auth_3a_yes').click(function() {
			$('.auth_3a_msg').hide();
			var city=$('#locality').val();
			if (city==null || city=="") {
                city=$('#auth_3a_input').val();
                if (city==null || city=="") {
                    $('.auth_3a_msg').hide();
                    $('#auth_3a_error_val').show();
                    $('#auth_3a_input').focus();
                    return;
                } else {
                    var service = new google.maps.places.AutocompleteService();
                    var displaySuggestions = function(predictions, status) {
                        if (status==google.maps.places.PlacesServiceStatus.OK) {
                            var prediction=predictions[0].terms[0].value;
                            $.post("<%= API_HOST %>/v2/auth/city",{'city':prediction,'key':'<%= citoyen['user_key'] %>','france':false})
                            .done(function(data){ console.log(data) })
                            .error(function(data) { console.log(data); });
                        }
                    };
                    service.getQueryPredictions({ input: $('#auth_3a_input').val() }, displaySuggestions);
                }
			} else {
                $.post("<%= API_HOST %>/v2/auth/city",{'city':city,'key':'<%= citoyen['user_key'] %>','france':false})
                .done(function(data){ console.log(data['city']) })
                .error(function(data) { console.log(data); });
            }
            $('#auth_3a').hide();
            $('#auth_4').show();
            if ($('#auth_4_input').val()=="") { $('#auth_4_input').focus(); }
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'city'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
	});
    $('#auth_3b_no').click(function() {
			$('.auth_3b_msg').hide();
			$('#auth_3b_info_msg').show();
			$('#auth_3b_input').focus(); 
			});
	$('#auth_3b_yes').click(function() {
			$('.auth_3b_msg').hide();
			var city=$('#auth_3b_input').val();
			if (city==null || city=="") {   
                    $('.auth_3b_msg').hide();
                    $('#auth_3b_error_val').show();
                    $('#auth_3b_input').focus();
                    return;
            }
            var circo=$('#auth_3b_num_circonscription').val();
            var comm=$('#auth_3b_num_commune').val();
            var code=$('#auth_3b_code_departement').val();
            $.post("<%= API_HOST %>/v2/auth/city",{
                   'city':city,
                   'key':'<%= citoyen['user_key'] %>',
                   'france':true,
                   'num_circonscription':circo,
                   'num_commune':comm,
                   'code_departement':code
            })
            .done(function(data){ console.log(data); })
            .error(function(data) { console.log(data); });
            $('#auth_3b').hide();
            $('#auth_4').show();
            if ($('#auth_4_input').val()=="") { $('#auth_4_input').focus(); }
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'city'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
	});
    var picker = new Pikaday({ 
        field: $('#auth_4_input')[0],
        container: $('#auth_4_calendar')[0],
        format: 'DD/MM/YY',
        minDate: new Date(1920,0,1),
        maxDate: new Date(2000,0,1),
        yearRange: [1900,2000],
        onSelect: function() {
            var date = this.getMoment().format('DD/MM/YYYY');
            $('#auth_4_input').val(date);
        },
        defaultDate:'01/01/1980',
        bound:false
    });
    picker.gotoDate(new Date(moment($('#auth_4_input').val(),"DD/MM/YYYY").format("MM/DD/YYYY")));
	$('#auth_4_no').click(function() { 
			$('.auth_4_msg').hide();
			$('#auth_4_info_msg').show();
			$('#auth_4_input').focus();
			});
	$('#auth_4_yes').click(function() {
			$('.auth_4_msg').hide();
			var birthday=$('#auth_4_input').val();
			if (birthday==null || birthday.trim()=='') {
				$('.auth_4_msg').hide();
				$('#auth_4_error_missing').show();
				$('#auth_4_input').focus();
				return;
			}
			birthday=birthday.trim();
			$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'birthday','val':birthday})
			.done(function( data ){ 
				console.log(data); 
				$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'birthday'})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
				$('#auth_4').hide();
				$('#auth_5').show();
				if ($('#auth_5_input').val()=="") { $('#auth_5_input').focus(); }
			})
			.error(function(data) {
				console.log(data);
				$('.auth_4_msg').hide();
				$('#auth_4_error_val').show();
				$('#auth_4_input').focus();
				return;
			});
	});
	//$('#radioFixe').click(function() { $('#tel_fixe_label').show(); $('#tel_portable_label').hide();});
	//$('#radioPortable').click(function() { $('#tel_portable_label').show(); $('#tel_fixe_label').hide();});
	$('#auth_5_yes').click(function() {
			$('.auth_5_msg').hide();
			var tel=$('#auth_5_input').val();
			var type=$('input[name=typeTel]:checked').val();
			if (tel==null || tel.trim()=='') {
				$('.auth_5_msg').hide();
				$('#auth_5_error_tel').show();
				$('#auth_5_input').focus();
				return;
			}
			tel=tel.trim();
			if (tel.lastIndexOf("00",0)===0) {
				while (tel.charAt(0) === '0') { tel = tel.substr(1); }
				tel='+'+tel;
				console.log("phone number reformatted: "+tel);
			} else if (tel.lastIndexOf("33",0)===0) {
				tel='+'+tel;
				console.log("phone number reformatted: "+tel);
			} else if (tel.charAt(0)!=='+') {
				while (tel.charAt(0) === '0') { tel = tel.substr(1); }
				tel='+33'+tel;
				console.log("phone number reformatted: "+tel);
			}
			$('#auth_5_yes').prop('disabled',true);
			$('#auth_5_msg_sent').show();
			$.get("<%= API_HOST %>/v1/auth/phone/lookup/<%= citoyen['user_key'] %>",{'tel':tel,'type':type})
			.done(function( data ){
				console.log(data);
				if (data['error']=='phone_already_used') {
					$('.auth_5_msg').hide();
					$('#auth_5_error_phone').show();
					$('#auth_5_input').focus();
					$('#auth_5_yes').prop('disabled',false);
				} else {
					$('.num_tel').html(tel);
					if (type=='sms') {
						$('#code_sent_sms').show();
						$('#code_sent_call').hide();
					} else {
						$('#code_sent_sms').hide();
						$('#code_sent_call').show();
					}
					$('#auth_5').hide();
					$('#auth_6').show();
					$('#auth_6_input').focus();
					$('#auth_5_yes').prop('disabled',false);
					$('.auth_5_msg').hide();
					$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'phone'})
					.done(function( data ){ console.log(data); })
					.error(function(data) { console.log(data); });
				}
				})
			.error(function(data) {
				$('.auth_5_msg').hide();
				$('#auth_5_error_tel').show();
				$('#auth_5_input').focus();
				$('#auth_5_yes').prop('disabled',false);
			});
	});
	$('#auth_6_yes').click(function() {
			$('.auth_6_msg').hide();
			var code=$('#auth_6_input').val();
			if (code==null || code.trim()=='') {
				$('.auth_6_msg').hide();
				$('#auth_6_error_missing').show();
				$('#auth_6_input').focus();
				return;
			}
			code=code.trim();
			if (code=='AUTHMSG') {
				$('.auth_6_msg').hide();
				$('#auth_6_error_authmsg').show();
				$('#auth_6_input').focus();
				return;
			}
			$('#auth_6_yes').prop('disabled',true);
			$('#auth_6_msg_sent').show();
			$.get("<%= API_HOST %>/v1/auth/phone/verif/<%= citoyen['user_key'] %>",{'code':code})
			.done(function( data ){
				console.log(data);
				if (data['verified']=="yes") {
					$('#auth_6').hide();
					//$('#auth_7').show();
					$('#auth_6_input').focus();
					$('#auth_6_yes').prop('disabled',false);
					$('.auth_6_msg').hide();
					$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'verif_phone'})
					.always(function( data ){ 
						console.log(data);
						var loc=window.location.href;
						loc=loc.replace("auth","vote");
						loc+='/1';
						window.location=loc;
					});
				} else {
					$('.auth_6_msg').hide();
					$('#auth_6_error_code').show();
					$('#auth_6_input').focus();
					$('#auth_6_yes').prop('disabled',false);
				}
			})
			.error(function(data) {
				$('.auth_6_msg').hide();
				$('#auth_6_error_code').show();
				$('#auth_6_input').focus();
				$('#auth_6_yes').prop('disabled',false);
			});
	});
    $('#auth_3b_yes').click(); // FIXME
});
</script>