<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
header {
	position:absolute;
	height:100%;
	width:100%;
}
#header_overlay { height:100%; }
.modal-content {
	height:430px;
}
.modal-body { height:100%;}
input[type=text], input[type=search], input[type=date], input[type=tel] {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #fff;
	box-shadow:none;
	background-color:#527bdd;
	color:white;
	font-size:30px;
	border:0px;
	text-align:center;
	border: 1px solid rgba(200, 200, 200, 1);
}
input::selection { background: white; }
input::-moz-selection { background: white; }
input[type=text]:focus, input[type=search]:focus, input[type=date]:focus, input[type=tel]:focus {
	box-shadow: 0 0 20px rgba(200, 200, 200, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(200, 200, 200, 1);
}
button.non:hover { background-color:#d91d1c !important; border-color:#d91d1c !important;color:white !important; }
button.oui:hover { background-color:#4ae54a !important; border-color:#4ae54a !important;color:white !important;}
.form-inline .form-control { vertical-align: bottom; }
.mention_email.title {
	top:30px;
	font-size:18px;
}
.mention_logo {
	position: absolute;
	width:180;
	top:10px;
	left:10px;
}
.mention_email {
	font-size:10px;
	position: absolute;
	text-align:right;
	width:100%;
	top:20px;
	right:25px;
	color:white;
}
.mention_cnil {
	position: absolute;
	width:100%;
	bottom:-10px;
}
.btn_bottom {
	margin-top:20px;
	width:100%;
}
.btn_bottom .btn {
	background-color:white;
	color:#5e5e5e;
}
.btn-xl {
	padding:2px;
	font-size: 26px;
	width:150px;
}
h3 { color:white; }
.ap-dropdown-menu { text-align:left; }
.ap-name {color:#5e5e5e;}
</style>
    <header>
    <div id="header_overlay" class="white" style="border-bottom: 2px solid #527bdd;">
	    <div class="container">
		    <div class="row" style="padding-top:10px;">
		    </div>
	    </div>
    </div>
    </header>

    <div class="modal fade" id="Authentication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-body" >
				    <div style="margin:0 auto;background:#527bdd;height:100%;">
					    <div id="auth_0" class="auth_step" style="margin:0 auto;padding-top:35px;padding-bottom:100px;width:100%;color:white;text-align:center;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <h3><i class="fa fa-user" aria-hidden="true"></i>Authentification</h3>
						    <div style="margin-bottom:20px;background-color: white;border-radius: 10px;color:#5e5e5e;padding:10px;width:300px;margin:0px auto 20px auto;font-size:16px;"><%= citoyen['email'] %></div>
						    <p style="font-size:15px;">Pour pouvoir voter, vous devez vous identifier au préalable.</p>
						    <p style="font-size:15px;">En vous idenfiant, vous déclarez sur l'honneur que l'ensemble des déclarations formulées dans le cadre de ce vote sont sincères et vérifiables.</p>
						    <p style="font-size:15px;">Cette procédure a fait l'objet d'une déclaration auprès de la CNIL<br/>déclaration normale n°1996018.</p>
						    <div class="btn_bottom">
							    <button id="auth_0_yes" style="width:230px;" class="btn btn-xl oui">Commencer</button>
						    </div>
					    </div>
					    <div id="auth_1" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_1_input">Votre prénom est :</label>
								    <input id="auth_1_input" type="text" class="form-control" placeholder="Votre prénom" value="<%= citoyen['firstname'] %>">
								    <input id="auth_1_orig" type="hidden" class="form-control" value="<%= citoyen['firstname'] %>">
								    <br/>
								    <div id="auth_1_info_msg" class="auth_1_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd" id="tel_ok"></i> Entrez votre prénom</div>
								    <div id="auth_1_error_val" class="auth_1_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> prénom manquant</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_1_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_1_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_2" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_2_input">Votre nom est :</label>
								    <input id="auth_2_input" type="text" class="form-control" placeholder="Votre nom de famille" value="<%= citoyen['lastname'] %>">
								    <input id="auth_2_orig" type="hidden" class="form-control" value="<%= citoyen['lastname'] %>"><br/>
								    <div id="auth_2_info_msg" class="auth_2_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd" id="tel_ok"></i> Entrez votre nom</div>
								    <div id="auth_2_error_val" class="auth_2_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> nom manquant</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_2_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_2_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_3" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_3_input">Vous habitez à :</label><br/>
								    <input type="search" id="auth_3_input" placeholder="Votre ville" value="<%= citoyen['city'] %>"/>
								    <input type="hidden" id="auth_3_orig" placeholder="" value="<%= citoyen['city'] %>"/>
								    <br/>
								    <div id="auth_3_error_val" class="auth_3_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> ville manquante</div>
								    <div id="auth_3_info_msg" class="auth_3_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd" id="tel_ok"></i> Entrez votre ville</div>
							    </div>
							    <div class="btn_bottom">
								    <button id="auth_3_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_3_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_4" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_4_input">Vous êtes né le :</label>
								    <input id="auth_4_input" type="text" class="form-control" placeholder="JJ/MM/AAAA" value="<%= citoyen['birthday'] %>">
								    <input id="auth_4_orig" type="hidden" class="form-control" value="<%= citoyen['birthday'] %>">
								    <br/>
								    <div id="auth_4_error_val" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> Merci d'utiliser le format JJ/MM/AAAA pour écrire la date</div>
								    <div id="auth_4_error_missing" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:250px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> date manquante</div>
								    <div id="auth_4_info_msg" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:320px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-info-circle" aria-hidden="true" style="color:#527bdd" id="tel_ok"></i> Entrez votre date de naissance : JJ/MM/AAAA</div>
								    <div id="auth_4_error_age" class="auth_4_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:270px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> vous êtes trop jeune :/</div>
							    </div><br/>
							    <p style="font-size:16px;">Seuls les citoyens qui auront plus de 18 ans au 23 avril 2017 peuvent voter.</p>
							    <div class="btn_bottom">
								    <button id="auth_4_no" class="btn btn-xl non">Non</button>&nbsp;&nbsp;
								    <button id="auth_4_yes" class="btn btn-xl oui">Oui</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_5" class="auth_step" style="margin:0 auto;padding-top:75px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_5_input">Votre numéro de téléphone :<br/><span style="font-size:12px;font-weight:normal;">(avec indicatif international +XX si numéro étranger)</span></label>
								    <input id="auth_5_input" type="tel" class="form-control" placeholder="" value="<%= citoyen['telephone'] %>">
								    <div id="auth_5_error_phone" class="auth_5_msg" style="display:none;font-size:14px;padding:5px;background-color: white;border-radius:10px;width:305px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> numéro déjà utilisé par un autre citoyen</div>
								    <div id="auth_5_error_tel" class="auth_5_msg" style="display:none;padding:4px;background-color: white;border-radius:10px;width:310px;margin:0 auto;color:#5e5e5e;font-size:13px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> Numéro invalide. Pour un numéro francais, ecrivez votre numéro à 10 chiffres. Pour un numéro étranger, entrez-le au <a href="https://fr.wikipedia.org/wiki/Numéro_de_téléphone" target="_blank">format international</a>.</div>
								    <div id="auth_5_error_type" class="auth_5_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> fixe ou portable ?</div>
								    <div id="auth_5_msg_sent" class="auth_5_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="color:#999"></i> patientez...</div>
								    <input id="auth_5_orig" type="hidden" class="form-control" value="<%= citoyen['telephone'] %>">
							    </div>
							    <div class="radio" style="font-size:16px;">
								    <label>
									    <input type="radio" name="typeTel" id="radioPortable" value="sms" checked>
									    C'est un téléphone portable
								    </label>
							    </div>
							    <div class="radio" style="font-size:16px;">
								    <label>
									    <input type="radio" name="typeTel" id="radioFixe" value="call">
									    C'est un téléphone fixe
								    </label>
							    </div>
							    <p style="font-size:16px;" id="tel_portable_label">Pour pouvoir voter, nous allons vous envoyer un code SMS.</p>
							    <p style="font-size:16px;display:none;" id="tel_fixe_label">Pour pouvoir voter, vous recevrez un appel automatique avec un code personnel.</p>
							    <div class="btn_bottom">
								    <button id="auth_5_yes" class="btn btn-xl oui">Continuer</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_6" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_6_input">Code reçu :</label>
								    <input id="auth_6_input" type="text" class="form-control" placeholder="XXXX" value="" style="width:150px;margin:0 auto;color:#5e5e5e; background-color: white;"><br/>
								    <div id="auth_6_error_code" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:#d91d1c" id="tel_ok"></i> code erroné</div>
								    <div id="auth_6_msg_sent" class="auth_6_msg" style="display:none;padding:5px;background-color: white;border-radius:10px;width:200px;margin:0 auto;color:#5e5e5e;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="color:#999"></i> vérification...</div>
							    </div>
							    <br/>
							    <div class="btn_bottom">
								    <button id="auth_6_yes" class="btn btn-xl oui">OK</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
					    <div id="auth_7" class="auth_step" style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:100%;color:white;text-align:center;display:none;">
						    <div class="mention_logo">
							    <img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg"/>
						    </div>
						    <form onsubmit="return false;">
							    <div class="form-group" style="width:90%;margin: 0 auto;">
								    <label for="auth_7_input">Merci de vous connecter avec Facebook pour terminer l'authentification.</label><br/>
								    <a id="auth_fb" type="button" class="btn facebook" style="width:250px;height:52px;padding-top:12px;" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flaprimaire.org%2Fqualifie%2Fariane-vitalis" target="_blank"><i class="fa fa-facebook" style="color:white;" aria-hidden="true"></i>&nbsp;<span style="color:white;font-variant:small-caps;font-size:18px;font-weight:bold;">Connexion Facebook</span></a>
							    </div><br/>
							    <p style="font-size:16px;">Cette connexion nous permet de nous assurer de la validité de votre compte.</p>
							    <div class="btn_bottom">
								    <button id="auth_7_yes" class="btn btn-xl oui">OK</button>
							    </div>
							    <div class="mention_cnil">
								    <p style="font-size:10px;color:#5e5e5e;">CNIL déclaration normale n°1996018</p>
							    </div>
						    </form>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://s3.eu-central-1.amazonaws.com/laprimaire/scripts/jquery.fblogin.min.js"></script>
    <script>
function resizeIframe(obj){
	obj.style.height = 0;
	obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}

/* google analytics */
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-60977053-1', 'auto');
ga('send', 'pageview');

$(document).ready(function() {
	$.ajaxSetup({ cache: true });
	$.getScript('//connect.facebook.net/en_US/sdk.js', function(){
		FB.init({
			appId: '115809635110050',
			version: 'v2.7' // or v2.1, v2.2, v2.3, ...
		});     
		$('#loginbutton,#feedbutton').removeAttr('disabled');
		FB.getLoginStatus(updateStatusCallback);
	});
	if ($('#Authentication')!=null) {
		$('#Authentication').modal({backdrop:'static', keyboard: false});
		$('#Authentication').modal('show');
	}
	$.get("<%= API_HOST %>/v1/auth/email/verif/<%= citoyen['user_key'] %>")
	.done(function( data ){ console.log(data); })
	.error(function(data) { console.log(data); });
	
	$('#auth_0_yes').click(function() {
		$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'verif_email'})
		.done(function( data ){ console.log(data); })
		.error(function(data) { console.log(data); });
		$('#auth_0').hide();
		$('#auth_1').show();
		if ($('#auth_1_input').val()=="") { $('#auth_1_input').focus(); }
	});
	$('#auth_1_no').click(function() { 
			$('.auth_1_msg').hide();
			$('#auth_1_info_msg').show();
			$('#auth_1_input').focus(); 
			});
	$('#auth_1_yes').click(function() {
			$('.auth_1_msg').hide();
			var fname_orig=$('#auth_1_orig').val();
			var fname=$('#auth_1_input').val();
			if (fname==null || fname=="") {
				$('.auth_1_msg').hide();
				$('#auth_1_error_val').show();
				$('#auth_1_input').focus();
				return;
			} else if (fname_orig!=fname) {
				$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'firstname','val':fname})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
			}
			$('#auth_1').hide();
			$('#auth_2').show();
			if ($('#auth_2_input').val()=="") { $('#auth_2_input').focus(); }
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'firstname'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
	});
	$('#auth_2_no').click(function() { 
			$('.auth_2_msg').hide();
			$('#auth_2_info_msg').show();
			$('#auth_2_input').focus(); 
			});
	$('#auth_2_yes').click(function() {
			$('.auth_2_msg').hide();
			var lname_orig=$('#auth_2_orig').val();
			var lname=$('#auth_2_input').val();
			if (lname==null || lname=="") {
				$('.auth_2_msg').hide();
				$('#auth_2_error_val').show();
				$('#auth_2_input').focus();
				return;
			} else if (lname_orig!=lname) {
				$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'lastname','val':lname})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
			}
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'lastname'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
			$.getScript('//cdn.jsdelivr.net/places.js/1/places.min.js', function(){
				var placesAutocomplete = places({
					container: document.querySelector('#auth_3_input'),
					type: 'city',
					language: 'fr',
					useDeviceLocation: true,
					templates: {
						value: function(suggestion) {
							return suggestion.name;
						}
					}
				});
				placesAutocomplete.on('change', function resultSelected(e) {
					$.post("<%= API_HOST %>/v1/citizen/city",{'suggestion':e,'key':'<%= citoyen['user_key'] %>'})
					.done(function( data ){ console.log(data['city']) });
				});
				$('#auth_2').hide();
				$('#auth_3').show();
				if ($('#auth_3_input').val()=="") { $('#auth_3_input').focus(); }
			});
	});
	$('#auth_3_no').click(function() {
			$('.auth_3_msg').hide();
			$('#auth_3_info_msg').show();
			$('#auth_3_input').focus(); 
			});
	$('#auth_3_yes').click(function() {
			$('.auth_3_msg').hide();
			var ville=$('#auth_3_input').val();
			if (ville==null || ville=="") {
				$('.auth_3_msg').hide();
				$('#auth_3_error_val').show();
				$('#auth_3_input').focus();
				return;
			}
			$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'city'})
			.done(function( data ){ console.log(data); })
			.error(function(data) { console.log(data); });
			$('#auth_3').hide();
			$('#auth_4').show();
			if ($('#auth_4_input').val()=="") { $('#auth_4_input').focus(); }
	});
	$('#auth_4_input').datepicker({
			"dateFormat":"dd/mm/yy",
			changeMonth:true,
			changeYear:true,
			yearRange:"1916:2000",
			defaultDate:"01/01/1980",
			showOn:"button",
			buttonText:"Choisir une date",
			buttonImageOnly:true,
			buttonImage:'https://s3.eu-central-1.amazonaws.com/laprimaire/icons/icon-calendar.gif'
			});
	$('#auth_4_no').click(function() { 
			$('.auth_4_msg').hide();
			$('#auth_4_info_msg').show();
			$('#auth_4_input').focus();
			});
	$('#auth_4_yes').click(function() {
			$('.auth_4_msg').hide();
			var birthday=$('#auth_4_input').val();
			if (birthday==null || birthday.trim()=='') {
				$('.auth_4_msg').hide();
				$('#auth_4_error_missing').show();
				$('#auth_4_input').focus();
				return;
			}
			$.get("<%= API_HOST %>/v1/auth/update/<%= citoyen['user_key'] %>",{'key':'birthday','val':birthday})
			.done(function( data ){ 
				console.log(data); 
				$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'birthday'})
				.done(function( data ){ console.log(data); })
				.error(function(data) { console.log(data); });
				$('#auth_4').hide();
				$('#auth_5').show();
				if ($('#auth_5_input').val()=="") { $('#auth_5_input').focus(); }
			})
			.error(function(data) {
				console.log(data);
				$('.auth_4_msg').hide();
				$('#auth_4_error_val').show();
				$('#auth_4_input').focus();
				return;
			});
	});
	$('#radioFixe').click(function() { $('#tel_fixe_label').show(); $('#tel_portable_label').hide();});
	$('#radioPortable').click(function() { $('#tel_portable_label').show(); $('#tel_fixe_label').hide();});
	$('#auth_5_yes').click(function() {
			$('.auth_5_msg').hide();
			var tel=$('#auth_5_input').val();
			var type=$('input[name=typeTel]:checked').val();
			if (tel==null || tel.trim()=='') {
				$('.auth_5_msg').hide();
				$('#auth_5_error_tel').show();
				$('#auth_5_input').focus();
				return;
			} else if (!tel.trim().startsWith('+')) {
				tel='+33'+tel;
			}
			$('#auth_5_yes').prop('disabled',true);
			$('#auth_5_msg_sent').show();
			$.get("<%= API_HOST %>/v1/auth/phone/lookup/<%= citoyen['user_key'] %>",{'tel':tel,'type':type})
			.done(function( data ){
				console.log(data);
				if (data['error']=='phone_already_used') {
					$('.auth_5_msg').hide();
					$('#auth_5_error_phone').show();
					$('#auth_5_input').focus();
					$('#auth_5_yes').prop('disabled',false);
				} else {
					$('#auth_5').hide();
					$('#auth_6').show();
					$('#auth_6_input').focus();
					$('#auth_5_yes').prop('disabled',false);
					$('.auth_5_msg').hide();
					$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'phone'})
					.done(function( data ){ console.log(data); })
					.error(function(data) { console.log(data); });
				}
				})
			.error(function(data) {
				$('.auth_5_msg').hide();
				$('#auth_5_error_tel').show();
				$('#auth_5_input').focus();
				$('#auth_5_yes').prop('disabled',false);
			});
	});
	$('#auth_6_yes').click(function() {
			$('.auth_6_msg').hide();
			var code=$('#auth_6_input').val();
			if (code==null || code.trim()=='') {
				$('.auth_6_msg').hide();
				$('#auth_6_error_code').show();
				$('#auth_6_input').focus();
				return;
			}
			$('#auth_6_yes').prop('disabled',true);
			$('#auth_6_msg_sent').show();
			$.get("<%= API_HOST %>/v1/auth/phone/verif/<%= citoyen['user_key'] %>",{'code':code})
			.done(function( data ){
				console.log(data);
				if (data['verified']=="yes") {
					$('#auth_6').hide();
					//$('#auth_7').show();
					$('#auth_6_input').focus();
					$('#auth_6_yes').prop('disabled',false);
					$('.auth_6_msg').hide();
					$.get("<%= API_HOST %>/v1/auth/step/<%= citoyen['user_key'] %>",{'step':'verif_phone'})
					.done(function( data ){ console.log(data); })
					.error(function(data) { console.log(data); });
					var loc=window.location.href;
					loc=loc.replace("auth","vote");
					window.location=loc;
				} else {
					$('.auth_6_msg').hide();
					$('#auth_6_error_code').show();
					$('#auth_6_input').focus();
					$('#auth_6_yes').prop('disabled',false);
				}
			})
			.error(function(data) {
				$('.auth_6_msg').hide();
				$('#auth_6_error_code').show();
				$('#auth_6_input').focus();
				$('#auth_6_yes').prop('disabled',false);
			});
	});
	$('#auth_7_yes').click(function() {
			var loc=window.location.href;
			console.log(loc.href);
			loc=loc.replace("auth","vote");
			window.location=loc;
			});
	$('#auth_fb').click(function() {
		$.fblogin({
		    fbId: '115809635110050',
			success: function (data) {
				console.log('Basic public user data returned by Facebook', data);
				var loc=window.location;
				console.log(loc);
				loc=loc.replace("auth","vote");
				window.location=loc;
			    },
			error: function (error) {
				console.log('An error occurred.', error);
			    }
		    });
	});

});
</script>
<script src="https://use.fontawesome.com/1e37fa74cb.js"></script>

