<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="LaPrimaire.org">
    <meta property="og:title" content="<%= candidat['social_title'] %>">
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="<%= page[:url] %>">
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="<%= page[:description].nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": page[:description] %>">
    <meta property="og:image" content="<%= candidat['photo_url'] %>">
    <meta property="og:image:secure_url" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:image:src" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democratech">
    <meta name="twitter:creator" content="@democratech">
    <meta name="twitter:title" content="<%= page[:social_title].nil? ? "LaPrimaire.org - En 2017, tous candidats !": page[:social_title] %>">
    <meta name="twitter:image" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:description" content="<%= page[:description].nil? ? "LaPrimaire.org organise une primaire hors partis politiques pour permettre aux français de choisir leurs candidats aux élections de 2017 de manière transparente et démocratique. LaPrimaire.org vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": page[:description] %>">
    <title><%= page[:title].nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !": page[:title]  %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="canonical" href="<%= page[:url] %>">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://laprimaire.org/docs/laprimaire.css">
    <style>
body {
}
    </style>
</head>
<body class="index">
<div id="fb-root"></div>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Changer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="/"><img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg" width="185" height="60" alt="logo LaPrimaire.org"></a>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
	<div id="header_overlay" class="white">
	<div class="container">
	    <div class="intro-text">
		<div class="intro-heading">Pour un vrai choix en 2017&nbsp;!</div>
		<div class="intro-lead-in">La Primaire Ouverte pour l'élection Présidentielle de 2017</div>
	    </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row" id="lettre_inline">
                            <div class="col-md-8">
				    <div class="lettre">
					    <h3>Qu'est-ce que LaPrimaire.org ?</h3>
					    <p><i>LaPrimaire.org</i> est <b>une primaire ouverte</b>, organisée pour permettre aux Français de choisir librement, de manière <b>transparente</b> et <b>démocratique</b>, les candidats qu'ils souhaitent voir se présenter à l'élection présidentielle de 2017 (voir <a href="/manifeste">notre manifeste</a>).</p>
					    <h3>Quel intérêt ?</h3>
					    <p>Aujourd'hui en France, les partis politiques (<a target="_blank" href="http://www.lemonde.fr/les-decodeurs/article/2015/09/22/des-republicains-au-ps-la-desertion-des-militants_4766932_4355770.html">365,000 personnes</a> soit <b>0,5% de la population</b>) désignent les candidats aux élections alors que les citoyens <a href="http://www.cevipof.com/fr/le-barometre-de-la-confiance-politique-du-cevipof/resultats-1/vague6/vague6prime/" target="_blank">les rejettent massivement</a>. L'objectif de <i>LaPrimaire.org</i> est d'insuffler un nouvel élan démocratique à notre pays en favorisant le renouvellement de notre classe politique.</p>
					    <h3>Comment ça marche ?</h3>
					    <p>Un processus de sélection des candidats (voir <a href="/deroulement/">le déroulement</a>) a été spécifiquement mis au point pour permettre une primaire démocratique à laquelle toute personne peut se présenter et au sein de laquelle toutes les idées peuvent s'exprimer.</p>
					    <h3>Comment participer ?</h3>
					    <p>Pour participer, en tant que citoyen ou candidat, <a href="/participer">inscrivez-vous</a> dès aujourd'hui. Il est important de s'inscrire dès à présent car la primaire <b>n'aura pas lieu si moins de 100,000 citoyens sont inscrits</b> au moment du vote.</p>
					    <h3>Qui organise ?</h3>
					    <p><i>LaPrimaire.org</i> est organisée de manière entièrement <b>bénévole</b> par des <a href="/equipe/">citoyens ordinaires</a> <b>indépendants des partis politiques</b> via <a href="/statuts/">une association loi 1901</a>.</p>
					    <h3>Qui finance ?</h3>
					    <p>Pour financer <i>LaPrimaire.org</i>, nous avons ouvert une <a href="/financer/" class="donate-link">campagne de financement participatif</a>. Si vous estimez que ce projet est utile pour l'avenir de notre démocratie, n'hésitez pas à <a href="/financer/" class="donate-link"><b>faire un don</b></a>, selon vos moyens, peu importe le montant. <b>Chaque don compte</b> afin que la primaire puisse avoir lieu.</p>
				    </div><a name="lancement"></a>
					<div style="margin:20px auto 50px auto; min-height:30px; width:300px;">
					    <div class="col-xs-12 col-md-6" style="text-align:center;padding:5px;">
	<a href="https://twitter.com/intent/tweet" class="twitter-share-button" data-text="LaPrimaire.org - Pour un vrai choix de candidats en 2017 !" data-via="democratech" data-url="https://laprimaire.org">Tweet</a>
					    </div>
					    <div class="col-xs-12 col-md-6" style="text-align:center;padding:5px;">
						<div class="fb-like" data-href="https://laprimaire.org" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
					    </div>
					</div>
                            </div>
                            <div class="col-md-4">
				    <a href="/10000/" style="text-decoration:none;"><div id="campaign_title" style="margin:5px 0px;font-size:22px;color:#d91d1c;"></div></a>
				<div style="background-color:#527bdd;padding: 4px 0px 0px 0px;">
					<div style="margin:0px auto 4px auto;width:98%;padding:5px;background-color:white;" class="hidden-xs hidden-sm">
						<div style="margin:0px auto;width:321px;height:175px;">
							<canvas id="myChart" width="300" height="160"></canvas>
						</div>
					</div>
					<div id="fundraising_bar" class="supporteurs"></div>
				</div>
				<div class="joinus">
					<div style="padding-bottom:10px;"><h2>Participez&#8239;!</h2></div>
					<div id="wufoo-m4zeh7t16z7142">
						Fill out my <a href="https://democratech.wufoo.com/forms/m4zeh7t16z7142">online form</a>.
					</div>
					<script type="text/javascript">var m4zeh7t16z7142;(function(d, t) {
function getURLParameter(name) {
	return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||""
}
var s = d.createElement(t), options = {
'userName':'democratech',
'formHash':'m4zeh7t16z7142',
'autoResize':true,
'height':'515',
'defaultValues':'field132='+getURLParameter('cmp'),
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { m4zeh7t16z7142 = new WufooForm();m4zeh7t16z7142.initialize(options);m4zeh7t16z7142.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

				</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
            </div>
    </header>


Je suis <%= candidat['name'] %>
</body>
</html>
