<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="LaPrimaire.org">
    <meta property="og:title" content="<%= candidat['social_title'] %>">
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="<%= page[:url] %>">
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="<%= page[:description].nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": page[:description] %>">
    <meta property="og:image" content="<%= candidat['photo_url'] %>">
    <meta property="og:image:secure_url" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:image:src" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democratech">
    <meta name="twitter:creator" content="@democratech">
    <meta name="twitter:title" content="<%= page[:social_title].nil? ? "LaPrimaire.org - En 2017, tous candidats !": page[:social_title] %>">
    <meta name="twitter:image" content="<%= candidat[:photo_url].nil? ? "https://laprimaire.org/assets/images/democratiser-les-elections-logo.jpg": candidat[:photo_url] %>">
    <meta name="twitter:description" content="<%= page[:description].nil? ? "LaPrimaire.org organise une primaire hors partis politiques pour permettre aux français de choisir leurs candidats aux élections de 2017 de manière transparente et démocratique. LaPrimaire.org vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": page[:description] %>">
    <title><%= page[:title].nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !": page[:title]  %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="canonical" href="<%= page[:url] %>">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://laprimaire.org/docs/laprimaire.css">
    <style>
body {
	background: url(https://web.laprimaire.org/img/laprimaire/background-image.jpg) repeat center center fixed;
}
header {
	background:none;
}
h2 span {
	color: #d91d1c;
}
h2.red {
	color:white;
	background-color:#d91d1c;
	margin-left:-10px;
	width:107%;
	padding:5px;
}
h2 {
	font-size: 28px;
}
#candidat_support.qualified {
	border:20px solid green;
}
#candidat_support {
	border:20px solid #d91d1c;
	padding:10px;
	margin-top:10px;
	background-color:white;
}
#candidat_about {
	border:20px solid #527bdd;
	padding:10px;
	margin-top:-40px;
	background-color:white;
}
#candidat_photo {
	border: 1px solid #5e5e5e;
	margin:20px;
}
#candidat_name {
	font-size: 24px;
	font-weight: bold;
	margin:20px;
}
#candidat_programme p {
	margin-top: 20px;
	font-size: 14px;
}
#candidat_programme {
	margin: 20px;
}
#candidat_soutiens {
	font-size: 15px;
	margin-top:10px;
}
#candidat_legend {
	font-size: 15px;
}
#candidat_supportme {
	font-size: 15px;
}
.navbar-default {
	border-bottom:40px solid #d91d1c;
}
.donateurs .goalProgress {
	/*background: #527bdd;*/
	background: white;
	border:1px solid #BBB;
}
.donateurs div.progressBar {
	/*background: #d91d1c;*/
	background: #56d840;
	overflow:visible;
	height:32px;
	color: #5e5e5e;
	text-align:left;
	font-size: 22px;
	letter-spacing: -1px;
	padding-left: 20px;
	padding-top: 2px;
	display: block;
	width: 20px;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}

@media (min-width: 768px) {
	#candidat_support {
		margin-left:-60px;
	}
}
    </style>
</head>
<body class="index">
<div id="fb-root"></div>
<!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
		<a class="navbar-brand" href="/"><img src="https://laprimaire.org/assets/images/logos/laprimaire-185x60.jpg" width="185" height="60" alt="logo LaPrimaire.org"></a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
	<div class="container">
            <div class="row">
                <div class="col-lg-6">
			<div id="candidat_about">
				<img id="candidat_photo" src="<%= candidat['photo'] %>" alt="photo de <%= candidat['name'] %>">
				<div id="candidat_name"><%= candidat['name'] %></div>
				<div id="candidat_programme">
				<% if candidat['trello'].nil? %>
					<button type="button" style="padding:10px;" class="btn btn-primary" disabled="disabled"><i>Voir son programme</i></button>
					<p><%= gender['ce'].capitalize+" "+gender['citoyen']%> n'a pas encore mis son programme en ligne.</p>
				<% else %>
					<button type="button" style="padding:10px;" class="btn btn-primary">Voir son programme</button>
				<% end %>
				</div>
			</div>
                </div>
		<div class="col-lg-6">
			<div>
				<% if not candidat['qualified']  %>
					<h2><span>Statut :</span> pas encore <%= gender['qualifié'] %></h2>
				<% else %>
					<h2><span>Statut :</span> <%= gender['qualifié'].capitalize %> !</h2>
				<% end %>
			</div>
			<div id="candidat_support" <% if candidat['qualified'] %>class="qualified"<% end %>>
				<div class="row pledge">
					<div class="col-xs-12" style="padding-right:0px;padding-left:0px;">
						<div style="float:right;font-size:22px;font-weight:bold;padding-top:3px;padding-right:5px; text-align:left;">500+</div>
						<div id="fundraising_bar" class="donateurs"></div>
					</div>
				</div>
				<% if not candidat['qualified']  %>
					<div id="candidat_soutiens">Pour se qualifier et pouvoir participer à LaPrimaire.org <%= candidat['name'] %> doit rassembler 500 soutiens citoyens.</div>
				<% else %>
					<div id="candidat_soutiens"><%= candidat['name'] %> a obtenu ses 500 citoyens citoyens et est <%= gender['qualifié'] %> pour participer à LaPrimaire.org</div>
				<% end %>
				<h2 class="red">Soutenez <%= candidat['name'] %></h2>
				<div id="candidat_legend">Vous aimeriez que <%= candidat['name'] %> participe à LaPrimaire.org pour y apporter ses idées et participe à la construction de l'avenir du pays&nbsp;?</div>
				<a data-toggle="modal" data-target="#Isupport" class="btn btn-success" style="font-weight:bold;padding:10px;margin:10px;">APPORTER MON SOUTIEN</a>
				<h3>Aidez <%= candidat['name'] %></h3>
				<div id="candidat_supportme">Invitez vos amis et proches à soutenir <%= candidat['name'] %>&nbsp;:</div><br/>
				<div class="row">
					<div class="col-lg-4 text-center">
						<div class="shareitem">
							<a href="/email/?candidat=<%= candidat['uuid'] %>" target="_blank"><img style="height:90px;border: 4px solid #d74937;" src="https://laprimaire.org/assets/images/partage/email-share-small.png"></a>
						</div>
						<div class="sharetitle">email</div>
					</div>
					<div class="col-lg-4 text-center">
						<div class="shareitem">
							<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flaprimaire.org/candidat/<%= candidat['uuid'] %>" target="_blank"><img style="height:90px;border: 4px solid #425f9c;" src="https://laprimaire.org/assets/images/partage/facebook-share-small.png"></a>
						</div>
						<div class="sharetitle">facebook</div>
					</div>
					<div class="col-lg-4 text-center">
						<div class="shareitem">
							<a href="https://twitter.com/intent/tweet?text=Pour%202017%2C%20Je%20souhaiterai%20que%20Thibauld%20Favre%20participe%20%C3%A0%20la%20construction%20de%20l%27avenir%20du%20pays&hashtags=LaPrimaire" target="_blank"><img style="height:90px;border: 4px solid #1c9fef;" src="https://laprimaire.org/assets/images/partage/twitter-share-small.png"></a>
						</div>
						<div class="sharetitle">twitter</div>
					</div>
				</div>
			</div>
                </div>
            </div>
       </div>
    </header>
    <!-- Modal -->
    <div class="modal fade" id="Isupport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	      <div class="modal-dialog" role="document">
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title" id="myModalLabel">Comment apporter votre soutien à <%= candidat['name'] %></h4>
	          </div>
	          <div class="modal-body">
	            ...
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            <button type="button" class="btn btn-primary">Save changes</button>
	          </div>
	        </div>
	      </div>
      </div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
(function($){$.fn.extend({goalProgress:function(options){var defaults={goalAmount:100,currentAmount:50,speed:1E3,textBefore:"",textAfter:""};var options=$.extend(defaults,options);return this.each(function(){var obj=$(this);var goalAmountParsed=parseInt(defaults.goalAmount);var currentAmountParsed=parseInt(defaults.currentAmount);var percentage=currentAmountParsed/goalAmountParsed*100;var progressBar='<div class="progressBar">'+defaults.textBefore+currentAmountParsed+defaults.textAfter+"</div>";var progressBarWrapped=
'<div class="goalProgress">'+progressBar+"</div>";obj.append(progressBarWrapped);var rendered=obj.find("div.progressBar");rendered.each(function(){$(this).html($(this).text().replace(/\s/g,"&nbsp;"))});rendered.animate({width:percentage+"%"},defaults.speed)})}})})(jQuery);
    </script>
    <script type="text/javascript">


$(document).ready(function(){
	var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
	var now = new Date();
	var firstDate = (new Date(2016,6,30)).getTime();
	var secondDate= (new Date(now.getFullYear(),now.getMonth()+1,now.getDate())).getTime();
	var diffDays = Math.round(Math.abs((firstDate - secondDate)/(oneDay)));
	amount=<%= candidat['soutiens'] %>;
	$('#fundraising_bar').goalProgress({
		goalAmount: 500,
		currentAmount: amount,
		textBefore: '',
		textAfter: ' soutiens'
	});
	$('#nb_days_left').html(diffDays);
});

    </script>

</body>
</html>
