    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= page_description.nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs." : "#{page_description}" %>">
    <meta name="author" content="<%= page_author.nil? ? "des citoyens ordinaires": "#{page_author}" %>">
    <meta property="og:title" content="<%= social_title.nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !": "#{social_title}" %>">
    <meta property="og:site_name" content="LaPrimaire.org"/>
    <meta property="og:url" content="<%= page_url.nil? ? "https://laprimaire.org": "#{page_url}" %>">
    <meta property="fb:app_id" content="115809635110050"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="<%= page_description.nil? ? "LaPrimaire.org est une Primaire Démocratique Ouverte organisée hors des partis politiques pour les élections de 2017. La Primaire vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": "#{page_description}" %>">
    <meta property="og:image" content="<%= page_image.nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{page_image}" %>">
    <meta property="og:image:secure_url" content="<%= page_image.nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{page_image}" %>">
    <meta name="twitter:image:src" content="<%= page_image.nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{page_image}" %>">
    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@democratech">
    <meta name="twitter:creator" content="@democratech">
    <meta name="twitter:title" content="<%= social_title.nil? ? "LaPrimaire.org - En 2017, tous candidats !": "#{social_title}" %>">
    <meta name="twitter:image" content="<%= page_image.nil? ? "https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-banner-rectangle.jpg": "#{page_image}" %>">
    <meta name="twitter:description" content="<%= page_description.nil? ? "LaPrimaire.org organise une primaire hors partis politiques pour permettre aux français de choisir leurs candidats aux élections de 2017 de manière transparente et démocratique. LaPrimaire.org vise à rassembler les citoyens déçus et lassés des politiques et qui souhaitent redonner du sens aux élections en soutenant et participant à une grande primaire citoyenne, apartisane, ouverte, en 2017 afin d'élire des candidats vraiment représentatifs.": "#{page_description}" %>">
    <title><%= page_title.nil? ? "LaPrimaire.org - En 2017, tous candidats à l'élection présidentielle !":"#{page_title}"  %></title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/laprimaire/styles/application-cbbc745bd85.css">
    <link rel="canonical" href="<%= page_url.nil? ? "https://laprimaire.org": "#{page_url}" %>">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
