<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Page de vote personnelle de <%= citoyen['email']%>">
    <meta name="author" content="LaPrimaire.org">
    <title>Page de vote personnelle de <%= citoyen['email']%> - LaPrimaire.org"</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://s3.eu-central-1.amazonaws.com/laprimaire/styles/application-cbbc745bd85.css">
    <link rel="canonical" href="https://laprimaire.org/citoyen/vote/<%= citoyen['url_key'] %>">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
ul.social_buttons > li{
	display: inline-block;
	margin-bottom: 5px;
}

.intro-heading span {
	color: #d91d1c;
	font-weight:bold;
}
.intro-heading {
	font-size: 24px !important;
	color: #527bdd;
}
.intro-lead-in {
	font-size: 16px !important;
	line-height: 20px !important;
}
.photo {
	max-width: 230px;
	margin:0 auto;
	height: 100%;
	max-height: 310px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}
.hero-feature h3 {
	font-size: 22px;
	margin-top: 10px;
}
.hero-feature h3 span { color: #d91d1c; font-weight: bold; }
.hero-feature p { font-size: 13px; }
.hero-feature img { height: 300px; }
.photo img {
	min-height: 100%;
	min-width: 100%;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	/* IE 5-7 */
	filter: alpha(opacity=0);
	/* modern browsers */
	opacity: 0;
}
.hero-feature .blue:hover { background-color:#d91d1c; border-color:red;}
.caption h3 { text-align:center; }
.caption { text-align:justify; }
@media (min-width:980px) {
	.modal-dialog {width:820px;}
	.intro-text {
		padding-top:15px !important;
		padding-bottom:0px !important;
	}
}
.btn.red:hover {
	border-color:#fec503;
	background-color:#fec503;
}
.btn.candidat {
	font-size:13px;
	padding:2px 8px;
}
.thumbnail.pending {
	border:0px;
	background-color:#ffdab9;
}
.thumbnail.absent {
	border:0px;
	background-color:#ffe4e1;
}
.thumbnail.error {
	border:0px;
	background-color:#ffcccc;
}
.thumbnail.success {
	border:0px;
	background-color:#ccffcc;
}
#no-missing-vote {
	font-weight:bold;
	font-size: 20px;
	color:#70cc70;
}
#nb-missing-votes {
	font-weight:bold;
	font-size: 20px;
	color:#d91d1c;
}
.nohover:hover {
	background:none !important;
}
.fa-stack-2x {
	font-size: 42px;
	padding:5px;
}
.fa-stack-1x {
	font-size: 24px;
	top: -2px;
}
.fa-stack.bleu { 
	color:#527bdd;
	line-height:10px;
	height:12px;
}
.fa-stack.rouge { color:#d91d1c; }
.row {
	margin-right:0px;
	margin-left:0px;
}
.soutien {
	height:80px !important;
	width:80px !important;
	border:4px solid #527bdd;
	position:absolute;
	bottom:-5px;
	left:10px;
}
.soutien.deux { left:80px; }
.soutien.trois { left:150px; }
</style>
</head>


<!-- Header -->
<body class="index" style="padding-bottom:0px;">
<div id="fb-root"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" style="margin-bottom:0px;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Changer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="/"><img src="https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-185x60.jpg" width="185" height="60" srcset="https://s3.eu-central-1.amazonaws.com/laprimaire/laprimaire-185x60.jpg 1x, /assets/images/logos/laprimaire-370x120.png 2x" alt="logo LaPrimaire.org"></a>
            </div>

	<% unless defined?(no_menu) then %>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    <li>
			    <a class="nohover" style="color:#d91d1c;"><%= citoyen['email'] %></a>
                    </li>
		    <li class="dropdown">
			<a tabindex="0" data-toggle="dropdown">
				La Primaire<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a tabindex="0" href="/qualifies/">Les candidats qualifiés</a></li>
				<li><a tabindex="0" href="/candidats/">Les candidats déclarés</a></li>
				<li><a tabindex="0" href="/citoyens/">Les citoyens plébiscités</a></li>
				<li class="divider"></li>
				<li><a tabindex="0" href="/inscription-candidat/">Être candidat(e)</a></li>
				<li><a tabindex="0" href="/charte/">Charte du candidat</a></li>
				<li class="divider"></li>
				<li><a tabindex="0" href="/manifeste/">Manifeste</a></li>
				<li><a tabindex="0" href="/deroulement/">Déroulement</a></li>
				<li><a tabindex="0" href="/calendrier/">Evènements</a></li>
				<li><a tabindex="0" href="/actus/">Blog</a></li>
				<li><a tabindex="0" href="/presse/">Presse</a></li>
				<li><a tabindex="0" href="/legal/">Mentions légales</a></li>
			</ul>
		    </li>
		   <!-- <li class="dropdown">
			<a tabindex="0" data-toggle="dropdown">
				L'association<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a tabindex="0" href="/transparence/">Transparence</a></li>
				<li><a tabindex="0" href="/equipe/">L'équipe</a></li>
				<li><a tabindex="0" href="/contact/">Nous contacter</a></li>
				<li class="divider"></li>
				<li><a tabindex="0" href="/statuts/">Statuts</a></li>
				<li><a tabindex="0" href="/reglement/">Règlement Intérieur</a></li>
				<li><a tabindex="0" href="/legal/">Mentions légales</a></li>
			</ul>
		    </li>-->
		    <li class="active">
			    <a tabindex="0" href="/financer/" class="donate-link" style="cursor:pointer;background-color:#527bdd;">Faire un don</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
    <% end %>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
    <div id="header_overlay" class="white" style="border-bottom: 2px solid #527bdd;padding-top:0px;padding-bottom:20px;">
	    <div class="container">
		<% if VOTE_PAUSED %>
		    <div class="row" style="padding-top:10px;">
			    <div class="alert alert-info" role="alert"><%= VOTE_PAUSED_MSG %></div>
		    </div>
	    <% end %>
		    <div class="row" style="padding-top:10px;margin-left:0px;margin-right:0px;">
				    <div class="thumbnail" style="margin-bottom:5px;padding:20px;">
					    <div class="row">
						    <div class="col-xs-12 col-md-8" style="text-align:justify;">
							    <h3 style="margin-top:0px;">Bienvenue sur votre page personnelle de vote</h3>
							    <h4>Comment se déroulera le vote ?</h4>
							    <p style="font-size:14px;">Afin d'assurer une vraie égalité démocratique entre les candidats et obtenir les résultats les plus représentatifs, LaPrimaire.org utilise un système de vote plus évolué que celui dont vous avez l'habitude.<br/>3 règles principales&nbsp;:</p>
							    <ul>
								    <li>Vous devez <b>obligatoirement</b> vous exprimer sur vos 5 candidat-e-s pour que votre participation soit validée</li>
								    <li>Vous attribuez à chaque candidat une mention allant de "Insuffisant" à "Très bien"</li>
								    <li>Chaque vote est final et ne peut pas être modifié après envoi</li>
							    </ul>
							    <p style="font-size:14px;">Pour en savoir plus, nous vous invitons à consulter la bande dessinée ci-contre créée spécialement pour l'occasion. Nous vous rappelons également que cette page est personnelle et ne doit pas être partagée.</p>
						    </div>
						    <div class="col-xs-12 col-md-4">
							    <br/>
							    <img data-toggle="modal" data-target="#vote_tutorial" src="https://s3.eu-central-1.amazonaws.com/laprimaire/bd/01.jpg" width="100%" style="border: 2px solid #9e9e9e;border-radius: 15px;cursor:pointer;">
						    </div>
					    </div>
					    <h4 style="text-align:left;">Les 5 candidat(e)s finalistes</h4>
					    <div class="row">
						    <div class="col-md-1 col-xs-hidden">&nbsp;</div>
					    <% ballot['candidates'].each do |candidate| %>
						    <div class="col-md-2 col-xs-12">
							    <div id="<%= candidate['vote_id']%>_mini" class="thumbnail <%= candidate['vote_status'] %>" style="margin-bottom:5px;max-height:125px;overflow:hidden;min-width:155px;">
								    <% if candidate['vote_status']=='success' then %>
								    <i id="<%= candidate['vote_id']%>_mini_success" class="fa fa-check-square-o" aria-hidden="true" style="font-size:45px;padding:0px;color:#70ee70;float:left;"></i>
								    <% elsif candidate['vote_status']=='error' %>
								    <i id="<%= candidate['vote_id']%>_mini_error" class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:45px;padding:0px;color:#ff1a1a;float:left"></i>
								    <% elsif candidate['vote_status']=='pending' %>
								    <i id="<%= candidate['vote_id']%>_mini_success" class="fa fa-check-square-o" aria-hidden="true" style="font-size:45px;padding:0px;color:#70ee70;float:left;display:none;"></i>
								    <i id="<%= candidate['vote_id']%>_mini_error" class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:45px;padding:0px;color:#ff1a1a;float:left;display:none;"></i>
								    <i id="<%= candidate['vote_id']%>_mini_pending" class="fa fa-cog fa-spin" aria-hidden="true" style="font-size:45px;padding:0px;color:#ffa07a;float:left;"></i>
								    <% else %>
								    <i id="<%= candidate['vote_id']%>_mini_error" class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size:45px;padding:0px;color:#ff1a1a;float:left;display:none;"></i>
								    <i id="<%= candidate['vote_id']%>_mini_success" class="fa fa-check-square-o" aria-hidden="true" style="font-size:45px;padding:0px;color:#70ee70;display:none;float:left;"></i>
								    <i id="<%= candidate['vote_id']%>_mini_pending" class="fa fa-cog fa-spin" aria-hidden="true" style="font-size:45px;padding:0px;color:#ffa07a;float:left;display:none;"></i>
								    <i id="<%= candidate['vote_id']%>_mini_absent" class="fa fa-square-o" aria-hidden="true" style="font-size:45px;padding:0px;color:#d91d1c;float:left"></i>
								    <% end %>
								    <a target="_blank" href="/qualifie/<%= candidate['slug'] %>">
									    <img style="overflow:auto;" class="img-circle" src="https://s3.eu-central-1.amazonaws.com/laprimaire/candidats/<%= candidate['slug'] %>-mini.jpg">
								    </a>
								    <div><a target="_blank" href="/qualifie/<%= candidate['slug'] %>"><%= candidate['name'] %></a></div>
							    </div>
						    </div>
					    <% end %>
						    <div class="col-md-1 col-xs-hidden">&nbsp;</div>
					    </div>
					    <h4 style="text-align:left;">Donnez à LaPrimaire.org les moyens de changer la donne en 2017</h4>
					    <div class="row">
						    <p style="font-size:14px; text-align:left;">Afin de rendre LaPrimaire.org accessible au plus grand nombre, il était important à nos yeux que la participation soit gratuite. Cependant, pour soutenir financièrement le ou la candidat(e) qui sera issu(e) de LaPrimaire.org et pour organiser <b>577 primaires pour les prochaines législatives</b>, nous avons besoin de votre soutien ! Si vous êtes en capacité de soutenir financièrement LaPrimaire.org, n'hésitez pas à <a href="/adherer/<%= citoyen['donation_params'] %>">adhérer et/ou faire un don</a> : Chaque don compte !</p>
						    <a type="button" class="btn blue btn-xl" style="font-size:20px;" href="/adherer/<%= citoyen['donation_params'] %>">Faire un don</a>
					    </div>
					    <% if not VOTE_PAUSED %>
					    <div class="row">
						    <div id="missing-votes" style="margin-top:10px;margin-bottom:0px;">
							    <% if ballot['votes_left']==0 %>
							    <span style="font-size:20px;" id="no-missing-vote">Votre participation est validée, merci pour ce geste citoyen !</span>
							    <% else %>
							    <span style="font-size:20px;display:none;" id="no-missing-vote">Votre vote est validé, merci pour votre participation !</span>
							    <span style="font-size:20px;" id="missing-votes-txt"><span id="nb-missing-votes"><%= ballot['votes_left'] %> vote<% if ballot['votes_left']>1 %>s<% end %></span> sont encore nécessaires pour que votre participation soit validée !</span>
							    <span style="display:none;" id="votes_left"><%= ballot['votes_left']%></span>
							    <% end %>
						    </div>
					    </div>
					    <% end %>
				    </div>

		    </div>
		    <% if not VOTE_PAUSED %>
		    <div class="row" style="padding-top:10px;">
		    <% ballot['candidates'].each do |candidate| %>
			    <div id="<%= candidate['vote_id'] %>_lnk" class="col-sm-12 col-xs-12 hero-feature">
				    <div class="thumbnail" style="margin-bottom:5px;">
					    <div class="row">
						    <div class="col-md-3 col-sm-12 hero-feature">
							    <a href="/qualifie/<%= candidate['slug'] %>" target="_blank">
							    <div class="photo background" style="background-image: url('https://s3.eu-central-1.amazonaws.com/laprimaire/<%= candidate['photo'] %>');">
								    <img class="background" src="https://s3.eu-central-1.amazonaws.com/laprimaire/<%= candidate['photo'] %>" alt="<%= candidate['name'] %>">
							    </div>
							    </a>
							    <% if candidate['slug']=='charlotte-marchandise-franquet' %>
								    <a href="/qualifie/ramin-farhangi" target="_blank">
									    <img class="img-circle soutien deux" src="https://s3.eu-central-1.amazonaws.com/laprimaire/candidats/ramin-farhangi-mini.jpg" title="Ramin Farhangi soutient Charlotte Marchandise">
								    </a>
								    <a href="/qualifie/pauline-lejeune" target="_blank">
									    <img class="img-circle soutien trois" src="https://s3.eu-central-1.amazonaws.com/laprimaire/candidats/pauline-lejeune-mini.jpg" title="Pauline Lejeune soutient Charlotte Marchandise">
								    </a>
							    <% elsif candidate['slug']=='roxane-revon' %>
								    <a href="/qualifie/alexandre-lecouillard" target="_blank">
									    <img class="img-circle soutien" src="https://s3.eu-central-1.amazonaws.com/laprimaire/candidats/alexandre-lecouillard-mini.jpg" title="Alexandre Lecouillard soutient Roxane Revon">
								    </a>
						    	    <% end %>
						    </div>

						    <div class="col-md-9 col-sm-12 hero-feature">
							    <div class="row" style="margin-right:0px;">
								    <div>
									    <div class="intro-text" style="padding-top:5px !important;">
										    <div style="margin-bottom:-14px;" class="intro-heading"><a href="/qualifie/<%= candidate['slug'] %>" target="_blank"><%= candidate['firstname'] %> <span><%= candidate['lastname'] %></span></a></div>
										    <p class="about"><%= "#{candidate['age']} ans, #{candidate['job']} (#{candidate['departement']})" %> - <a href="<%= candidate['bio_article']%>" target="_blank">Lire ma biographie</a></p>
										    <div class="intro-lead-in" style="margin-bottom:10px;">&ldquo;<i><%= candidate['vision'] %></i>&rdquo;</div>
									    </div>
								    </div>
							    </div>
							    <div class="row" style="margin-bottom:10px;">
									    <div class="col-md-4 col-sm-12 hero-feature">
										    <span style="font-weight:bold;color:#527bdd;font-size:18px;">Priorité</span>&nbsp;<span class="fa-stack fa-2x bleu"><strong class="fa-stack-1x rouge">1</strong></span><br/><span style="font-size:14px;">&ldquo;<i><%= candidate['prio1'] %></i>&rdquo;</span>
									    </div>
									    <div class="col-md-4 col-sm-12 hero-feature">
										    <span style="font-weight:bold;color:#527bdd;font-size:18px;">Priorité</span>&nbsp;<span class="fa-stack fa-2x bleu"><strong class="fa-stack-1x rouge">2</strong></span><br/><span style="font-size:14px;">&ldquo;<i><%= candidate['prio2'] %></i>&rdquo;</span>
									    </div>
									    <div class="col-md-4 col-sm-12 hero-feature">
										    <span style="font-weight:bold;color:#527bdd;font-size:18px;">Priorité</span>&nbsp;<span class="fa-stack fa-2x bleu"><strong class="fa-stack-1x rouge">3</strong></span><br/><span style="font-size:14px;">&ldquo;<i><%= candidate['prio3'] %></i>&rdquo;</span>
									    </div>
							    </div>

							    <div class="row">
								    <ul class="social_buttons">
									    <li><a href="<%= candidate['main_article'] %>" target="_blank" class="btn candidat btn-default btn-xs blue"><i class="fa fa-trello" aria-hidden="true"></i>Présentation</a></li>
									    <li><a href="<%= candidate['trello'] %>" target="_blank" class="btn candidat btn-default btn-xs blue"><i class="fa fa-list-ol" aria-hidden="true"></i>Programme</a></li>
									    <li><a href="https://laprimaire.org/qualifie/<%= candidate['slug'] %>#articles" target="_blank" class="btn candidat btn-default btn-xs blue"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Articles</a></li>
									    <li>
									    <% if candidate['illustration'].nil? %>
										    <a class="btn candidat btn-default btn-xs blue" title="<%= candidate['name']%> n'a pas pu être illustré" disabled>

									    <% else %>
										    <a href="https://s3.eu-central-1.amazonaws.com/laprimaire/illustrations/<%= candidate['slug'] %>.jpg" target="_blank" class="btn candidat btn-default btn-xs blue">
									    <% end %>
										    <i class="fa fa-picture-o" aria-hidden="true"></i>Illustration</a>
									    </li>
									    <li>
									    <% if candidate['interview'].nil? %>
										    <% if candidate['slug']=="jean-michel-billaut" %>
										    <a class="btn candidat btn-default btn-xs blue" title="<%= candidate['name']%> n'a pas pu réaliser d'interview" disabled>
										    <% else %>
										    <a class="btn candidat btn-default btn-xs blue" title="<%= candidate['name']%> n'a pas souhaité mettre en ligne son interview" disabled>
										    <% end %>

									    <% else %>
										    <a href="<%= candidate['interview'] %>" target="_blank" class="btn candidat btn-default btn-xs blue">
									    <% end %>
										    <i class="fa fa-microphone" aria-hidden="true"></i>Interview</a>
									    </li>
									    <li>
									    <% if candidate['direct'].nil? %>
										    <a class="btn candidat btn-default btn-xs blue" title="<%= candidate['name']%> n'a pas souhaité faire de Facebook Live" disabled>
									    <% else %>
										    <a href="<%= candidate['direct'] %>" target="_blank" class="btn candidat btn-default btn-xs blue">
									    <% end %>
										    <i class="fa fa-video-camera" aria-hidden="true"></i>Direct</a>
									    </li>
									    <li>
									    <% if candidate['video'].nil? %>
										    <a class="btn candidat btn-default btn-xs blue" title="<%= candidate['name']%> n'a pas souhaité mettre en ligne de vidéo" disabled>
									    <% else %>
										    <a href="<%= candidate['video'] %>" target="_blank" class="btn candidat btn-default btn-xs blue">
									    <% end %>
										    <i class="fa fa-film" aria-hidden="true"></i>Video</a>
									    </li>
								    </ul>

							    </div>
							    <div class="row">
								    <div style="margin-bottom:10px;margin-top: 10px;">
								    <% if candidate['vote_status']=='success' then %>
									    <button id="votebtn_<%= candidate['vote_id'] %>_done" data-toggle="modal" class="btn btn-success disabled" style="font-size:18px;width:180px;border-radius:4px;"><i class="fa fa-check" aria-hidden="true" style="padding:0px;"></i> Vote enregistré</button>
								    <% elsif candidate['vote_status']=='error' then %>
									    <button id="votebtn_<%= candidate['vote_id'] %>_error" data-toggle="modal" class="btn btn-danger" style="font-size:18px;width:180px;border-radius:4px;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="padding:0px;"></i> Vote en erreur</button>
								    <% elsif candidate['vote_status']=='pending' then %>
									    <button id="votebtn_<%= candidate['vote_id'] %>_error" data-toggle="modal" class="btn btn-danger" style="font-size:18px;width:180px;border-radius:4px;display:none;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="padding:0px;"></i> Vote en erreur</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_done" data-toggle="modal" class="btn btn-success disabled" style="font-size:18px;width:180px;border-radius:4px;display:none;"><i class="fa fa-check" aria-hidden="true" style="padding:0px;"></i> Vote enregistré</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_pending" data-toggle="modal" class="btn btn-warning disabled" style="font-size:18px;width:180px;border-radius:4px;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="padding:0px;"></i> Vote envoyé</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_todo" data-toggle="modal" data-target="#<%= candidate['vote_id'] %>_cc" class="btn red" style="font-size:18px;width:250px;border-radius:4px;display:none;">Evaluer <%= candidate['firstname'] %></button>
								    <% else %>
									    <button id="votebtn_<%= candidate['vote_id'] %>_error" data-toggle="modal" class="btn btn-danger" style="font-size:18px;width:180px;border-radius:4px;display:none;"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="padding:0px;"></i> Vote en erreur</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_done" data-toggle="modal" class="btn btn-success disabled" style="font-size:18px;width:180px;border-radius:4px;display:none;"><i class="fa fa-check" aria-hidden="true" style="padding:0px;"></i> Vote enregistré</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_pending" data-toggle="modal" class="btn btn-warning disabled" style="font-size:18px;width:180px;border-radius:4px;display:none;"><i class="fa fa-cog fa-spin" aria-hidden="true" style="padding:0px;"></i> Vote envoyé</button>
									    <button id="votebtn_<%= candidate['vote_id'] %>_todo" data-toggle="modal" data-target="#<%= candidate['vote_id'] %>_cc" class="btn red" style="font-size:18px;width:250px;border-radius:4px;">Evaluer <%= candidate['firstname'] %></button>
								    <% end %>
								    </div>
							    </div>

						    </div>
					    </div>

				    </div>
			    </div>
		    <% end %>
		    </div>
	    <%else%>
		    <div class="row" style="padding-top:10px;">
			    <div class="alert alert-info" role="alert"><%= VOTE_PAUSED_MSG %></div>
		    </div>
	    <%end%>
	    </div>
    </div>
    </header>

    <div class="modal fade" id="vote_tutorial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog vote" role="document">
		    <div class="modal-content">
			    <div class="modal-header" style="background-color:#527bdd;height:50px;">
				    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				    <h4 class="modal-title">Voter sur LaPrimaire.org</h4>
			    </div>
			    <div class="modal-body" >
				    <iframe id="vote_tutorial_iframe" width="100%" height="480" frameborder="0"></iframe>
			    </div>
		    </div>
	    </div>
    </div>

    <% ballot['candidates'].each do |candidate| %>
    <div class="modal fade cocorico" id="<%= candidate['vote_id']%>_cc" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	    <div class="modal-dialog vote" role="document">
		    <div class="modal-content">
			    <div class="modal-body" >
				    <div style="margin:0 auto;background:#527bdd;height:100%;" id="<%= candidate['vote_id']%>_loading">
					    <div style="margin:0 auto;padding-top:100px;padding-bottom:100px;width:300px;color:white;text-align:center;">
						    <p>Chargement du vote en cours...</p>
						    <p><i style="width:100px;text-align:center;" class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i></p>
						    <span class="sr-only">Refreshing...</span>
						    <p>Vous disposez de 10 minutes pour évaluer <%= candidate['name']%>.</p>
						    <p style="font-style:italic;">(Vous pouvez à tout moment fermer cette fenêtre et revenir plus tard)</p>
					    </div>
				    </div>
				    <iframe id="<%= candidate['vote_id']%>_iframe" width="100%" height="480px" style="display:none;" frameborder="0"></iframe>
			    </div>
		    </div>
	    </div>
    </div>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
function resizeIframe(obj){
	obj.style.height = 0;
	obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}
/* google analytics */
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-60977053-1', 'auto');
ga('send', 'pageview');

$(document).ready(function() {
		window.addEventListener("message",receiveMessage,true);
		function receiveMessage(e) { 
			console.log(e);
			if (e.origin!=='https://laprimaire.cocorico.cc') {
				return;
			}
			var data=JSON.parse(e['data']);
			var voteId=data['vote']['id'];
			if (data['message']=='voteComplete') {
				$('.modal.cocorico').modal('hide');
			} else if (data['message']=='voteSuccess') {
				$('#'+voteId+'_mini').attr("class","thumbnail success");
				$('#'+voteId+'_mini_success').show();
				$('#'+voteId+'_mini_error').hide();
				$('#'+voteId+'_mini_pending').hide();
				$('#'+voteId+'_mini_absent').hide();
				$('#votebtn_'+voteId+'_todo').hide();
				$('#votebtn_'+voteId+'_pending').hide();
				$('#votebtn_'+voteId+'_error').hide();
				$('#votebtn_'+voteId+'_done').show();
				var votes_left=parseInt($('#votes_left').html());
				votes_left=votes_left-1;
				if (votes_left==0) {
					$('#missing-votes-txt').hide();
					$('#no-missing-vote').show();
				} else if (votes_left==1) {
					$('#nb-missing-votes').html("1 vote");
					$('#votes_left').html(votes_left.toString())
				} else {
					$('#nb-missing-votes').html(votes_left+" votes");
					$('#votes_left').html(votes_left.toString())
				}
			} else if (data['message']=='voteError') {
				$('.modal.cocorico').modal('hide');
				$('#'+voteId+'_mini').attr("class","thumbnail error");
				$('#'+voteId+'_mini_success').hide();
				$('#'+voteId+'_mini_error').show();
				$('#'+voteId+'_mini_pending').hide();
				$('#'+voteId+'_mini_absent').hide();
				$('#votebtn_'+voteId+'_todo').hide();
				$('#votebtn_'+voteId+'_pending').hide();
				$('#votebtn_'+voteId+'_done').hide();
				$('#votebtn_'+voteId+'_error').show();
			} else if (data['message']=='voteCanceled') {
				$('.modal.cocorico').modal('hide');
			}
		};
		$('#vote_tutorial').on('show.bs.modal', function () {
			$('#vote_tutorial_iframe').attr("src",'/citoyen/vote/tutorial');
			$('#vote_tutorial_iframe').show();
		});
    <% ballot['candidates'].each do |candidate| %>
	    if ($('#<%= candidate['vote_id']%>_cc')!=null) {
		    $('#<%= candidate['vote_id']%>_cc').on('hidden.bs.modal', function () {
				    $('#<%= candidate['vote_id']%>_loading').show();
				    $('#<%= candidate['vote_id']%>_iframe').hide();
				    $('#<%= candidate['vote_id']%>_iframe').attr("src",'about:blank');
				    });

		    $('#<%= candidate['vote_id']%>_cc').on('shown.bs.modal', function () {
				    $('#<%= candidate['vote_id']%>_iframe').load(function() { $('#<%= candidate['vote_id']%>_loading').hide(); $('#<%= candidate['vote_id']%>_iframe').show();});
				    $.ajax({
					url: "/citoyen/token/<%= citoyen['user_key'] %>",
					data: "ballot=<%= ballot['ballot_id'] %>&candidate=<%= candidate['candidate_id'] %>",
					dataType: "json",
					success: function(data) {
						$('#<%= candidate['vote_id']%>_iframe').attr("src",'https://<%= COCORICO_HOST %>/embed/vote-widget/<%= candidate['vote_id'] %>?user='+data['token']+'&appId=<%= cocorico_app_id %>&lang=fr-FR');
						},
					error: function(data) {
						console.log("votes are paused. reloading page...");
						window.location.reload(true);
						}
					});
		    });
	}
    <% end %>
});
    </script>
    <script src="https://use.fontawesome.com/1e37fa74cb.js"></script>

  </body>
</html>
