<div id="partial_title">A quelle élection souhaitez-vous être candidat(e) ?</div>
<h2 class="doc-title">Soyez candidat(e)</h2>
<p class="text-justify">Vous n'êtes pas satisfait(e) de l'état actuel de la vie politique de notre pays et vous avez envie de vous engager pour le pays ? Soyez candidat(e) sur LaPrimaire.org. LaPrimaire.org est une initiative citoyenne 100% neutre dont l'objectif est de faire en sorte que tous les citoyen(ne)s, qu'ils appartiennent à un parti ou non, puissent se présenter et aient une chance sérieuse d'être élu(e). A chaque élection, LaPrimaire.org organise une "Primaire Ouverte" dont le but est d'apporter aux citoyen(ne)s candidat(e)s la <b>visibilité</b>, la <b>légitimité démocratique</b> et les <b>outils</b> (récolte de dons, communication...) nécessaires pour être élu(e) et avoir un impact concret sur le pays et ses citoyens.</p>
<h2 class="doc-title">Les élections en cours</h2>
<p class="text-justify">Voici les élections pour lesquelles il y a une Primaire Ouverte et auxquelles vous pouvez être candidat(e) :</p>
<div class="row">
<% if elections.empty? %>
	<p>Aucune élection en cours pour le moment.</p>
<% else %>
	<% elections.each do |k,e| %>
		<div class="col-12 col-sm-6 col-lg-3">
			<!--Card-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
					<img class="img-fluid rounded" src="https://s3.us-east-2.amazonaws.com/reprezentus/elections/<%= e['slug']%>.jpg" alt="<%= e['name'] %>">
					<div class="mask waves-effect waves-light">
					</div>
				<% if e['current'].to_b then %>
					<div style="position:absolute;top:5px;"><span class="badge green">Ouverte</span></div>
				<% else %>
					<div style="position:absolute;top:5px;"><span class="badge red">Terminée</span></div>
				<% end %>
				<% if e['participating'].to_b then %>
					<% if e['finalist'].to_b then %>
					<div style="position:absolute;top:25px;"><span class="badge green">Vous êtes finaliste</span></div>
					<% elsif e['qualified'].to_b then %>
					<div style="position:absolute;top:25px;"><span class="badge green">Vous êtes qualifié</span></div>
					<% elsif e['verified'].to_b then %>
					<div style="position:absolute;top:25px;"><span class="badge green">Candidature validée</span></div>
					<% elsif e['accepted'].to_b then %>
					<div style="position:absolute;top:25px;"><span class="badge orange">Candidature en cours de validation</span></div>
					<% else %>
					<div style="position:absolute;top:25px;"><span class="badge red">Candidature incomplète</span></div>
					<% end %>
				<% end %>
				</div>
				<!--/.Card image-->

				<!--Card content-->
				<div class="card-block">
					<!--Title-->
					<h4 class="card-title"><%= e['name'] %></h4>
					<!--Text-->
					<p class="card-text text-justify"><%= e['description'] %></p>
				<% if e['current'].to_b then %>
					<% if e['participating'].to_b then %>
						<a href="#election/<%= e['parent_slug'] %>/run" class="btn btn-success">Modifier mes infos</a>
					<% else %>
						<a href="#election/<%= e['slug'] %>/run" class="btn btn-success">Etre candidat</a>
					<% end %>
				<% else %>
					<a href="#election/<%= e['slug'] %>" target="_blank" class="btn btn-primary">Voir les résultats</a>
				<% end %>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card-->
		</div>
	<% end %>
<% end %>

